[2016-09-30 00:22] matthewtsmith opened #1 "Data Collector 2.0"
The new data collector will have the following flow:

Start Page
featureType = "COLLECTOR"
Settings
startTitle = "Start Inspection"
"shareable" : true/false
"transferable : true/false
Single Root Feature Group
Has linked page to search form
Search Form
formType = "QUERY"
featureType = "FORM"
collectionNameIndex = 4 ( should be a dropdown of the attribute names)
Has linked page to list of records
L

[2016-09-30 00:27] matthewtsmith opened #2 "Logo not displaying on initial login"
5.4.3 (current testflight version)

Delete app.

Re-install.

service.taylorfreezer.net

Logo doesn't display on login screen.

Login:

rkromer

welcome pw.

Logo displays top of the menu.

Logout

Logo now displays on login screen.

[2016-09-30 00:29] matthewtsmith opened #3 "Stanford: Defective field not displaying on the summary of Route Asset form"
lbredev.stanford.edu

kjhchang

WO Search-- >> search on WO = 1448514 --> tap View Route on Work Order Detail

The "defective" is configure on builder, but not display on mobile. see attachment

https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2788

[2016-09-30 00:32] matthewtsmith opened #4 "Add json setting valueFormat to data connector lists allowing enhanced configuration"
Currently we can configure an attribute with json setting valuFormat to display a descriptive label for an attribute value.  We do this on the page's attribute json setting configuration.

Example:

`{"valueFormat":{"format":"Serial#: $value","showIfEmpty":false}}`

Add this type of enhanced valueFormat configuration to data connector list display.  We would use this on a field such as Quantity on

[2016-09-30 00:34] matthewtsmith opened #5 "Value not get default on repeating when come in first time"
AppId : vendor.wawa.com

login as supertech

Equipment Move or Pump Move

select a site, and add equipments by repeating form,

Because the list of equipment is base on the site , there is a hidden field "Move to" , that is default the value from site user select, but when you select a equipment (this is search list), it display error, "Missing required fields, MoveTo is required ...." this is une

[2016-09-30 00:36] matthewtsmith opened #6 "Add Date format support for Date and DateTime fields"
Users should be able to provide a custom date format in the DisplayElement settings.

The key will be `dateFormat`. If this key is set it will override the default date formatter.

[2016-09-30 00:37] matthewtsmith commented on #6
Referenced from this stanford issue:

1)On timecard detail, they would like to display date in this format,  Thursday, 9/8/16 4:16 PM.

2) We only need the minutes to be increment by 15 minutes.(DONE)

how can we configure it ?

There are some issue relate to this,

we originally set work date as date time, but because it it date time, when user pick up a date on calendar and free + button to add

[2016-09-30 00:38] matthewtsmith opened #7 "Client app version management"
When tapping ‘Edit’ from the App Home page:

Change modal title to: ‘App Name and Install Settings’

Add section header: ‘App Name’

Change:

‘Name’ to ‘App Name’

‘Description’ to ‘App Description’

In the ‘App Download URLs’ section:

Change labels to:

'iOS Client Installation URL'

'Android Client Installation URL'

Add section header: ‘Minimum Version’

Add fields:

 “Minimum Required iOS Cli

[2016-09-30 00:44] matthewtsmith opened #8 "LOV display format not match configuration"
AppID : lbredev.stanford.edu or lbreint.stanford.edu

Login as KJHCHANG

"Timecard" menu item, select work order on time entry form

see attachment 111 and 112.png

1) Resource code gone

2) OP# is configure at right hand site of first line, but it display at 2nd line

3) WO description is configure 3 the 3rd line but display on the right hand site of first line

https://podio.com/apptreesoftware/

[2016-09-30 00:44] matthewtsmith opened #9 "Next available item for LOV"
AT Stanford, the work order status lov  is limited by the current status

for example

when current status is "Complete", user will be able to update it to "Complete - No Charges", "Inspection", "Unreturn"

but when current status  is "On Hold", available status for update is  "Cancelled" , "Unreleased", "Awaiting Parts/Quotes","In Service"

In R4, we are implement by "NEXT_VAL_IDS" : ["Cancelled"

[2016-09-30 02:06] eyuapptree opened #10 "STANFORD : Some work order number get truncated in wo lov"
appID : somint.stanford.edu
AppVersion : 5.4.3-2173

1. logged in as violanti,
2. Select Timecard on the left nav,
3. select the + sign on the top,
4, select the WO number field,
5) when LOV items display, you will notice some wo number is truncated, see attachment
![ed651](https://cloud.githubusercontent.com/assets/22424216/18978397/69265624-86f5-11e6-9fab-81ef8c4e48a3.PNG)

[2016-09-30 12:41] matthewtsmith commented on #10
@eyuapptree This template is not meant to have a long text in the top right side. It's meant for something small like a status. I suggest you swap the `description` label and the `operation number`.

[2016-09-30 13:05] matthewtsmith opened #11 "Sandbox: Can not delete menu item"
APP ID: inspections.corrigo.com
SANDBOX

I would like to delete the `Asset Inspection` Menu item.
I click on menu item
Press remove
A blank modal is shown, exception gets logged to console.

[2016-09-30 13:23] mellissatort commented on #10
@matthewtsmith I have swapped the OPERATION SEQ and RESOURCE CODE fields in the list display format as well as on the WO attribute field on the form.  When I view the list on device (iOS or Android) the changes I made are not being reflected.  I have logged out of the app back to the app Id entry screen and logged back in but no change.

[2016-09-30 13:26] matthewtsmith commented on #10
@mellissatort did the application show a config update?

[2016-09-30 13:28] mellissatort commented on #10
@matthewtsmith yes it did, but still the list format did not change after re-logging in.

[2016-09-30 13:30] matthewtsmith commented on #10
@mellissatort are there any spaces on the template that are not filled out? What template are you using?

[2016-09-30 13:32] mellissatort commented on #10
Card Layout 7 Attributes + Color Stripe.  The only field on the template not filled out is the Badge which is not relevant for this list display.

<img width="899" alt="screen shot 2016-09-30 at 9 30 53 am" src="https://cloud.githubusercontent.com/assets/22403044/18993330/a63874d4-86f0-11e6-9522-ebf6eeba97a3.png">

[2016-09-30 13:34] matthewtsmith commented on #10
@mellissatort Does this happen on Android or is it only iOS. I think this may be a problem with how we are reading in templates but if it only happens on iOS it could just be an issue with that template on iOS.

[2016-09-30 13:36] mellissatort commented on #10
@matthewtsmith it is happening on both android and iOS

[2016-09-30 13:37] matthewtsmith commented on #8
Same as https://github.com/apptreesoftware/revolution/issues/10

[2016-09-30 13:41] matthewtsmith commented on #10
@mellissatort This is a more significant client change and will require an app update. I would suggest trying a different template until I have a chance to work on this.

[2016-09-30 13:45] matthewtsmith opened #12 "Template Display Issues"
Child issue of: https://github.com/apptreesoftware/revolution/issues/10

[2016-09-30 13:45] matthewtsmith opened #13 "Template Display Issues"
Child of : https://github.com/apptreesoftware/revolution/issues/10

[2016-09-30 16:41] matthewtsmith opened #14 "Add DataCollection completeDataCollection endpoint"
The SDK needs to be updated to support completing a DataCollection

1. Add new endpoint to inspection for complete
2. Read in the DataSet sent from the core
3. Parse & Forward the data set to the InspectionDataSource completeInspection method

[2016-09-30 18:18] matthewtsmith commented on #11
@sambbaron I'm still having issues. This time I was prompted with the feature deletion page. After deleting the feature I was taken back to the menu. I expected the menu item to be gone but it was still there with a red disclosure button.  I then tapped on the menu item to try and delete the menu ite again and it just hung.
![screen shot 2016-09-30 at 11 16 16 am](https://cloud.githubusercontent.c

[2016-09-30 18:41] sambbaron commented on #11
@matthewtsmith I deleted the orphaned menu item from the app, but I am still working on another related bug.

[2016-09-30 18:52] #11 closed

[2016-09-30 18:55] sambbaron commented on #11
@matthewtsmith Deploying to sandbox now.  Make sure you are using build version **0.6.0-rc.1**, which you can find in the new about modal.

[2016-09-30 21:12] mellissatort commented on #10
@matthewtsmith we have chosen a different template to work around this issue until client change can be completed.

[2016-09-30 23:32] sambbaron opened #15 "Core should not return portal superUser property if false"
For security reasons, the Core should not return portal `superUser` property if the value is false.  I don't want our regular portal users to know this flag exists and try to mock its value.

[2016-10-03 08:52] eyuapptree opened #16 "Available work order in timecard not refresh"
AppID : lbredev.stanford.edu
5.4.3-2173
login as kjchang
Timecard >> + button to add new time entry
Tap on WO Number, which is an LOV
The list item is authentication required and cache timeout set to 30 minutes

I assigned SU896910 to the user, I wait for 30 minutes and the work order is not in the lov, I wait another 30 minutes still not there, I try to login out and back, the work order still no

[2016-10-03 08:53] eyuapptree commented on #16
Not you are able to see the work order, but this is not the problem , the problem is the lov not get refresh when user login or reach timeout cache

[2016-10-03 12:17] mellissatort commented on #16
@eyuapptree how long after you assigned the work order did the work order display in the LOV view select when you query from the database?

[2016-10-03 15:31] mellissatort commented on #16
@matthewtsmith I have tested this morning these steps and can confirm that the timecard available WO list (#1137) is not updating.

My first test this morning I assigned SU920936 to kjhchang at 8:50am and when the list refreshed at 9:20am it appeared.  I verified the list refresh in S3 (lbredev.stanford.edu) also querying the database view displays this WO.  This proved that the process was workin

[2016-10-03 19:58] mellissatort opened #17 "Unable to view or add display element to create form"
App ID:  dev.usc.edu

Create New Cart:  http://portal.apptreesoftware.com/#/app/dev.usc.edu/beta/builder/device/page/1860

Select "Add Display Element" from drop down list for unnamed feature group.
New Display Element popup window is blank.  Same behavior exists when editing existing elements on the form.  I was able to view these 30 minutes ago without an issue.  No updates have been made to the

[2016-10-03 20:04] mellissatort commented on #17
@sambbaron I am using Chrome browser and having this issue with other forms and even other app IDs.  I tried this on Safari and am not having the issue.

[2016-10-04 00:35] matthewtsmith opened #18 "Can't remove DisplayElement"
<b>Sandbox</b>
I'm attempting to remove a form element from `inspections.corrigo.com`

http://sandbox.apptreesoftware.com/#/app/inspections.corrigo.com/beta/builder/device/page/3582

Tap on `Name`
Press `Remove`
Dialog dismisses but the form does not update.
No exception is shown in the console

[2016-10-04 12:38] eyuapptree opened #19 "STANFORD : New list available on builder after few hours later"
AppID : lbredev.stanford.edu / somdev.stanford.edu
I added a new server site list list/searchavailablewo to the connector, But no mater how I refresh from connector, or deploy connector again and again, or  quit the builder/brower and then come back. The new list was not available on builder. But after few hours later, when I came into builder again, I can see it there. there seem to be some kind

[2016-10-04 12:40] eyuapptree commented on #19
Currently it is not an issue because  the new list I needed is available now.  But I wait few hours after deploy and finally see it available on builder.

[2016-10-04 16:54] matthewtsmith opened #20 "Create Label + Checkbox template - Numeric ID 2"
Starting with the new checkbox template which should have the ID of 13.

[2016-10-04 16:57] #18 closed

[2016-10-05 02:02] matthewtsmith opened #21 "Add `order` value to templates"
On the client I am revamping the template system. To help me validate I'm ordering the fields right I would like to add the `order` to the template view. Something like the attached image.
<img width="479" alt="screen shot 2016-10-04 at 7 00 39 pm" src="https://cloud.githubusercontent.com/assets/9000800/19098794/178196ee-8a65-11e6-9e5e-795e9f3bb455.png">

[2016-10-05 02:03] matthewtsmith commented on #21
@sambbaron This is something I'd like you to work on tomorrow so I can validate everything on my end.

[2016-10-05 02:16] matthewtsmith opened #22 "Missing LEFT_IMAGE_6_ATTRIBUTE_GREY_BOTTOM template"
@sambbaron Possibly it's named different but I'm not seeing this template

[2016-10-05 12:39] mellissatort opened #23 "5.4.3 (2151) On create form attach photo and values entered are cleared out"
App ID:  service.taylorfreezer.net
iOS Version:  5.4.3 (2151)  - app store download
User login:  rkromer

On Create Service Request form enter equipment and description values.  Then add a photo attachment.  After pressing the "Use Photo" option it returns the user to the form and the previous equipment and description values entered are cleared requiring the user to reenter them.

This issue is o

[2016-10-05 13:34] matthewtsmith commented on #10
Duplicate of https://github.com/apptreesoftware/revolution/issues/3

[2016-10-05 13:48] mellissatort commented on #23
This was tested on iOS10 and iOS9 and both have the issue.

[2016-10-05 13:55] mellissatort opened #24 "WAWA 5.3.12: Select additional tag on work order and tag detail displays "Unsaved" even though updates not made"
App ID:  vendor.wawa.com
Version 5.3.12  iOS
Login:  demo3

Select work order 11721657
Add tag and press Submit on parent WO
On parent work order select new tag to view detail
Message at top of form indicated "Unsaved" though no updates made.
Navigate away from work order and not prompted to save/abandon changes.
Return to work order and still indicates "Unsaved".

[2016-10-05 14:02] mellissatort opened #25 "WAWA 5.3.12: Timer not visible on all user workbenches"
App ID:  vendor.wawa.com
iOS Version 5.3.12
Login:  demo3

Select work order 11721657 from "Work Orders - Unassigned" workbench and assign to logged in user Demo Three.
Start timer on work order
Make additional updates on work order including:
   1) add workcode (2 of them) and resolution code then submit
   2) add tag then submit
   3) remove resolution code then submit
Return to menu and timer i

[2016-10-05 14:05] mellissatort opened #26 "WAWA 5.3.12: Save button present on Equipment Work Orders but nothing to edit"
App ID:  vendor.wawa.com
iOS Version 5.3.12
Login user:  demo3

Search for equipment in store 00008 and select tag 030316
On the tag details select work order.  View equipment work order details and the Save button is present but no fields on the form are allowed for edit.

This appears to be a configuration change where the Save button should be removed since it has not functionality based on how

[2016-10-05 14:51] matthewtsmith commented on #25
@mellissatort @RobertGuinn This is expected behavior. Since those are separate data sets there is no way to know that they are tracking on the same item. I think a more appropriate fix would be to not allow users to start timers from search or unassigned.

[2016-10-05 14:51] #25 closed

[2016-10-05 15:34] sambbaron commented on #21
@matthewtsmith I don't understand what you are asking of me.  Are we validating the client against the builder or vice versa?  Do you want me to create screenshots of all the current templates with order values as they are in the builder?

[2016-10-05 15:36] sambbaron commented on #22
I think it's this - `CARD_CENTER_IMAGE_6_ATTRIBUTES`

[2016-10-05 15:44] matthewtsmith commented on #22
@sambbaron No, thats not it. I have another one for that. LEFT_IMAGE_6_ATTRIBUTE_GREY_BOTTOM  is something we did last minute for wawa. Maybe it never made it into 5.4

[2016-10-05 15:58] sambbaron commented on #22
@matthewtsmith Can you give me a screenshot from the client?

[2016-10-05 16:23] matthewtsmith commented on #21
Im asking you to add the order into the template in the builder UI. We will consider the builder the "truth" of what the order should be.  As I'm redoing these templates I will use that order on my templates. Going forward I think this will be useful as we add new templates so that there is no confusion about the attribute ordering on new templates.

[2016-10-05 16:25] sambbaron commented on #21
@matthewtsmith Ah sure, that's no problem.  I will only show the values when the Builder is in "debug mode" (which is all the time right now).

[2016-10-05 16:30] matthewtsmith commented on #22
![simulator screen shot oct 5 2016 9 29 34 am](https://cloud.githubusercontent.com/assets/9000800/19122238/5cd7636c-8ade-11e6-966f-af83d7749076.png)

[2016-10-05 16:31] matthewtsmith commented on #22
@sambbaron This isn't the greatest sample since there are some labels not used in wawa. You may want to look at 5.3 portal for all the labels.

[2016-10-05 16:36] #21 closed

[2016-10-05 16:43] sambbaron commented on #21
@matthewtsmith This is deployed to both portal and sandbox

[2016-10-05 16:44] matthewtsmith commented on #24
@mellissatort @RobertGuinn  I investigated this and this is just a bad data issue in the dev environment that we have run into in the past. The problem is the value "EV" is one of the categories but that category does not exist in the DEV lists. @eyuapptree and I have run into this before in vendor.wawa.com

[2016-10-05 16:44] #24 closed

[2016-10-05 16:46] matthewtsmith commented on #21
@sambbaron Glad we did this, some of your order indexes are a lot different than mine.

[2016-10-05 16:46] sambbaron commented on #22
@matthewtsmith I don't think I have this template.  I don't see any templates in the Builder with an image on the left side.

[2016-10-05 16:48] sambbaron commented on #21
@matthewtsmith Yeah, that's not a surprise, especially for the older templates.  Maybe we can finally put this zombie bug to rest.

[2016-10-05 16:48] matthewtsmith commented on #22
@sambbaron ok, lets add it then. Here is a screen shot of how it is setup on the client.  You define the order and I'll update.

<img width="672" alt="screen shot 2016-10-05 at 9 47 16 am" src="https://cloud.githubusercontent.com/assets/9000800/19122773/d272a170-8ae0-11e6-9e8e-d9820bbac574.png">

[2016-10-05 16:53] sambbaron commented on #22
@matthewtsmith Do you want to start the numeric ids with this template?  If so, which number?
https://github.com/apptreesoftware/revolution/issues/20

[2016-10-05 16:55] matthewtsmith commented on #22
@sambbaron I set the editing checkbox template as 13. We could make this 12 since its taking the place of one of the templates I counted. Or we could just decide to start these at 1 which might be easier. Thoughts?

[2016-10-05 16:57] matthewtsmith opened #27 "Card Layout 6 attribute Center Image template has duplicate order"
Order 2 is repeated for both "Above Image" and "Below Image"
<img width="488" alt="screen shot 2016-10-05 at 9 56 37 am" src="https://cloud.githubusercontent.com/assets/9000800/19123073/19f50a6e-8ae2-11e6-8251-dcdfbf45faf0.png">

[2016-10-05 16:59] sambbaron commented on #22
@matthewtsmith I don't have a strong opinion, but my preference would be to stay with the semantic names.  I know they are cumbersome, but at least they give the template some transparent meaning.  I guess it depends on how many more templates we will have before moving to the new templating system.  If it's 10 templates, I'm fine with semantic keys.  If more than 10, then maybe numbers.  Like I s

[2016-10-05 17:15] matthewtsmith commented on #22
@sambbaron I would like to switch to numbering, lets start with `1`. I find it very cumbersome to find the template in my code that matches the name in the builder. Numbering would make this much easier on the clients.

So in conclusion:
`LEFT_IMAGE_6_ATTRIBUTE_GREY_BOTTOM` => 1
`Label + Edit Checkbox` => 2

[2016-10-05 18:05] sambbaron commented on #27
@matthewtsmith This is what I am changing this template to - not deployed yet.

![screen shot 2016-10-05 at 11 04 26 am](https://cloud.githubusercontent.com/assets/10456742/19125330/889f9f84-8aeb-11e6-91c6-914c9adaec41.png)

[2016-10-05 18:06] sambbaron commented on #22
@matthewtsmith Here's what this template is going to look like - not deployed yet

![screen shot 2016-10-05 at 11 02 04 am](https://cloud.githubusercontent.com/assets/10456742/19125388/b45d1674-8aeb-11e6-8610-ebb862110ae8.png)

[2016-10-05 18:09] sambbaron commented on #20
@matthewtsmith I just realized that I already created this.  The key is `EDITABLE_TITLE_CHECKBOX` and it's the last template in the dropdown.  Do you want me to make any changes to this template?  Should I change the key to `2`?

![screen shot 2016-10-05 at 11 08 21 am](https://cloud.githubusercontent.com/assets/10456742/19125476/0d0c6220-8aec-11e6-8aaa-240d727951aa.png)

[2016-10-05 18:18] matthewtsmith commented on #20
@sambbaron I just want to change the key to `2`

[2016-10-05 18:24] sambbaron commented on #27
@matthewtsmith Deployed to sandbox

[2016-10-05 18:24] sambbaron commented on #22
@matthewtsmith Deployed to sandbox

[2016-10-05 18:24] sambbaron commented on #20
@matthewtsmith  Deployed to sandbox

[2016-10-05 20:18] matthewtsmith opened #28 "Criteria: Unable to access relationship properties in criteria."
http://sandbox.apptreesoftware.com/#/app/inspections.corrigo.com/beta/builder/device/page/3584

I'm attempting to configure a criteria for the following Feature->Exception Criteria

`IF ANY DataSetItem.uncommitted.punchListItems.exception IS NOT BLANK`

I don't see a way from the UI to configure that.  Here is a screen shot of my attempt.

<img width="910" alt="screen shot 2016-10-05 at 1 16 05 pm

[2016-10-05 20:19] matthewtsmith commented on #28
@sambbaron marking as critical as its blocking my corrigo implementation.

[2016-10-05 20:33] sambbaron commented on #28
@matthewtsmith Right now when we tack on a list attribute in criteria, we use this format:
`$dataSetItem.attribute.uncommitted.8.attribute.0`
I plan on using the same format for relationship attributes.

[2016-10-05 20:56] sambbaron commented on #28
@matthewtsmith Deployed to sandbox - `0.7.0-dev.5`

[2016-10-05 21:39] matthewtsmith opened #29 "Usage Monitoring"
Original Podio Ticket: https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2782

Now that we are logging each request to a connector, we need to add some capabilities in the portal to view and warn about usage.

I would like a new menu item that shows "Requests".

At the top level it will have each request uniqued by the endpoint

1.) Show # of requests made in last 24 hrs

2.) Show

[2016-10-05 21:40] matthewtsmith commented on #29
@alexisandreason @sambbaron I would like to make this the next enhancement we work on after any critical issues. I'm having to help debug a lot of issues that could be more obvious for @mellissatort and @eyuapptree when this is implemented.

[2016-10-05 23:47] mellissatort opened #30 "Portal Communication includes {showLogoURL} but not visible on email received"
App ID:  ppddev.uvm.edu

Created new user mlelliot and received new user email to mellissa.tort@apptreesoftware.com.  The {showLogoURL} is configured on the new user email template at the bottom of the communication configuration.  However, when received via email the logo does not display.  The image source url it references is https://services1.apptreesoftware.com/client/ppddev.uvm.edu/config/br

[2016-10-05 23:50] mellissatort opened #31 "How to access your app link is not displaying install instructions template"
App ID:  ppddev.uvm.edu
Communication template configured in portal.apptreesoftware.com

The "How to access your app" link on the set password and confirmed password set pages links to the following url.  This does not display the install instructions template configuration for this app ID.  No information is displayed except for what you see in the attached.

http://portal.apptreesoftware.com/ind

[2016-10-06 00:33] matthewtsmith opened #32 "Inspection Data Sources not displaying"
http://sandbox.apptreesoftware.com/#/app/inspections.corrigo.com/beta/data-connectors/545/data-sets/dataset-customerportal/new

`inspections.corrigo.com`
Data Sources

I have an Inspection Data source registered but the Inspection section is not displaying in the portal.

[2016-10-06 00:35] RobertGuinn commented on #30
@sambbaron Not sure if this is portal or core issue.

[2016-10-06 12:13] eyuapptree opened #33 "STANFORD: Total daily hour not correct"
lbredev.stanford.edu
5.4.3.2173
![img_0231](https://cloud.githubusercontent.com/assets/22424216/19151791/4c4a2416-8c01-11e6-9af1-5ad5c4806775.PNG)

login as  any user (I login as ROBERTD)
Go to timecard,
see attachment, the total hours show Total : 0.0

[2016-10-06 12:24] mellissatort commented on #33
@eyuapptree this is a configuration issue where the sum attribute is lost at some point during the live-to-beta copy or promote beta-to-live process.  I have updated the configuration in lbredev.stanford.edu.  Please review and assign back to me if this is resolved.

[2016-10-06 12:31] matthewtsmith commented on #33
@mellissatort Lets file a ticket for this for @sambbaron. I've seen this issue as well when testing Rice. The dataAttributeIndex for the sum attribute gets set to -1 in my testing. I believe this may be an issue with the builder reading in the accessory view info.

[2016-10-06 12:40] mellissatort opened #34 "Accessory containing sum attribute is missing during process of clone live to beta"
App ID:  lbredev.stanford.edu

On the timecard menu item we have an accessory view configured to sum attribute hours.  At some point during the process of copy live to beta it appears this is lost/missing.  We do not see the issue occur when promote beta to live.

Matt has added that when he sees this occur the dataAttributeIndex for the sum attribute gets set to -1 in my testing, and believes thi

[2016-10-06 12:40] #33 closed

[2016-10-06 15:26] sambbaron commented on #30
@RobertGuinn If the email template has the tag, then this would be a Core issue.  I am assigning to @alexisandreason.

[2016-10-06 15:44] sambbaron commented on #32
@matthewtsmith Fix deployed to sandbox - `0.7.0-dev.6`

[2016-10-06 16:46] #31 closed

[2016-10-06 16:51] sambbaron commented on #31
@RobertGuinn @mellissatort Fix has been deployed to portal `0.6.3` and sandbox `0.7.0-dev.7`.

But we still have a problem with the install instructions.  I am not getting some of the information I need from the Core in order to set the placeholders (app name, download urls, etc.).  I am going to create a new Core issue for this.

[2016-10-06 17:00] sambbaron opened #35 "With GET '/portal/communications/installInstructions' need application properties"
Reference https://github.com/apptreesoftware/revolution/issues/31

From the `GET /portal/communications/installInstructions` call, the Portal does not get the application properties it needs to replace app-related placeholders (app name, download urls, etc.).

I would propose we include an `application` object in the response with only the properties the Portal needs.  Here's an example:

[code]

[2016-10-06 17:00] sambbaron commented on #35
@RobertGuinn @mellissatort FYI

[2016-10-06 17:37] #34 closed

[2016-10-06 23:20] #22 closed

[2016-10-06 23:20] #20 closed

[2016-10-06 23:20] #27 closed

[2016-10-06 23:30] matthewtsmith commented on #4
@sambbaron I think this is complete. It is on the client, not sure about the builder.

[2016-10-07 00:18] #28 closed

[2016-10-07 00:18] #32 closed

[2016-10-07 12:42] mellissatort opened #36 "When exit a create form with default values on client, user is prompted to save/abandon changes"
App ID:  service.taylorfreezer.net (beta)

iOS 10.0.2
5.4.3 (2151)

Android 6.0.1-23
5.4.3 (1081)

Login:  rkromer

When user logs into client the Create Service Request create form displays.  Default values are configured for "Requester" and two hidden attributes Customer No and Store.  User navigates to menu and selects another menu item and is prompted with save/abandon message.  Since no chang

[2016-10-07 12:43] mellissatort commented on #23
@matthewtsmith have you been able to look at this iOS client issue?

[2016-10-07 17:07] mellissatort opened #37 "Allow locations services enabled prompt not displaying on iOS"
App ID:  service.taylorfreezer.net
iOS version 10.0.2
5.4.3 (2151)

Download the app from the app store.
Location services are not set by default.
Log into the client app and select Create Service Request.  Map displays "Location Services Disabled" message.
Prompt the user to enable location services and/or provide them an easy way to enable from the client app with the preferred default method "W

[2016-10-07 18:52] matthewtsmith commented on #19
@alexisandreason I think we have a bug with user based lists that needs to be investigated.

[2016-10-07 18:56] #19 closed

[2016-10-07 20:10] matthewtsmith commented on #36
@mellissatort Fixed in 5.4.4 on both iOS and Android.

[2016-10-07 20:15] matthewtsmith commented on #3
@mellissatort @eyuapptree fixed in 5.4.4

[2016-10-07 20:44] sambbaron commented on #4
@matthewtsmith This is not implemented in the Portal yet.

[2016-10-07 20:59] sambbaron opened #38 "Add portal user management feature"
[Podio RT2786](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2786)

From home page, add menu item in "Admin" section called "User Management".  Restrict to super user.

Allow portal users to be created, edited, deleted, passwords reset, and forced logout.

Remove password reset from portal users page within app.

Dependent on [Podio RT2808](https://podio.com/apptreesoftware/ap

[2016-10-07 21:01] sambbaron opened #39 "Validate all required fields are on form"
[Podio RT2764](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2764)

I'm adding required fields to a connector. Since I'm not adding fields using the wizard the newly required fields are not being added to the form. The portal should validate this when editing a form.

[2016-10-07 21:03] sambbaron opened #40 "Localization bug when two object titles have the same translation"
[Podio RT2618](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2618)

Revisit how translated title models are added to view

Could be part of a broader update of Localization page

[2016-10-07 21:06] sambbaron opened #41 "BarcodeAttachmentIndex support"
[Podio RT2800](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2800)

When using a BarcodeListScanner we have a new attribute "barcodeAttributeIndex" which defines which attribute in the list the app should look for the barcode value in.

This key goes inside of the `listDisplayOptionsv2` settings.

[2016-10-07 21:08] sambbaron opened #42 "Auto/Manual submit form"
[Podio RT2783](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2783)

On toolbar buttons we have a JSON setting for whether to submit the current form when linking to another page.

Key: "submitFormsType"

Possible Values:
- null
- "auto"
- "manual"

**Auto** - Before navigating to the linked page, the app will attempt to automatically submit the form as soon as you tap the butt

[2016-10-07 21:09] sambbaron opened #43 "Add dataset to App Flow page and activity objects"
[Podio RT2653](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2653)

[2016-10-07 21:11] sambbaron opened #44 "Create ConfigurationContextModel for config editing from feature group and below"
[Podio RT2621](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2621)

Create ConfigurationContextModel to hold the objects necessary to know the full context at any point in the configuration.  This includes:

- Page
- FeatureGroup
- DataSet - inferred from Page and FeatureGroup
- DataSet Attributes - inferred from DataSet and FeatureGroup's feature
- Possibly also include:
   -

[2016-10-07 21:13] sambbaron opened #45 "Add breadcrumb-style navigation to device page view"
[Podio RT2381](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2381)

Currently the feature page navigation allows users to navigate to the previous page.  Include a navigation feature to be able to go back to the main menu.

[2016-10-07 21:15] sambbaron opened #46 "Calendar display criteria"
[Podio RT2329](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2329)

Currently a progress bar is displayed on the timecard calendar showing progress of hours.  The progress bar displays in green regardless of the categorization of the data within the days activities.  Add client display criteria so that the calendar will have a different display depending on the data categoriza

[2016-10-07 21:16] sambbaron opened #47 "Select List Filter Accessory View"
[Podio RT2280](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2280)

We need a new accessory view that lets you modify the runtime context by selecting from a list. It will behave similar to the ListFilter button in the toolbar. This control is made up of the following configuration attributes:

1.) List ID - The list to select from

2.) Default text

3.) runtimeContextModifica

[2016-10-07 21:18] sambbaron opened #48 "Update input validation for user values"
[Podio RT2198](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2198)

See attached file from Alexis:
[regexWhitelist.txt](https://github.com/apptreesoftware/revolution/files/517117/regexWhitelist.txt)

[2016-10-07 21:20] sambbaron opened #49 "Separate call for to update configuration general/global settings"
[Podio RT2135](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2135)

GET /portal/generalSettings
PUT /portal/generalSettings
Editing the general settings will cause a configuration bump.

[2016-10-07 21:21] sambbaron opened #50 "New Feature Group Templates"
[Podio RT2045](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2045)

Propose two new templates allowing for more badges to be displayed and long attributes.

This is based on the following customer needs and fields requested for display:

    WO Number - 10 character length
    8 Badges (per MSU specification)
    WO Description - 64 character length
    Location - long display

[2016-10-07 21:22] sambbaron commented on #50
@mellissatort I am in the process of moving my tickets from Podio to GitHub.  This one is still on my list, but new templates should really start with Matt.

[2016-10-07 21:25] sambbaron opened #51 "Dynamic Value Editor UI updates"
[Podio RT1986](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/1986)

 - While in criteria editor, close any dynamic value editors on any "off" click
 - More obvious styling of which dynamic value you are editing
 - Replace initial dropdown with panels

[2016-10-07 21:27] sambbaron opened #52 "Add Map Feature to User Management"
[Podio RT1964](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/1964)

First, fix a few formatting/nomenclature issues:

1. On the user detail page, change label 'Location Positions' to 'Device Locations'

2. Fix the alignment of the App Sessions / Device Location selector and the Active/Suspended/Pending selector.

  a. the selector is closer to the previous item than it is to t

[2016-10-07 21:28] sambbaron opened #53 "Combine 'Page Settings' and 'Feature Settings' into one editor"
[Podio RT1876](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/1876)

Sync page name with feature name

[2016-10-07 21:30] sambbaron opened #54 "Setting listAutoFill should automatically add auto fill "to" indexes to "onClear""
[Podio RT1535](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/1535)

We have a new DisplayElement setting "onClear". It takes the format:

[code]

When a user is adding auto fill options to a list item 90% of the time they want those auto filled items to clear when the list item is cleared. To simplify this for the user we should automatically add them to the onClear settings a

[2016-10-07 21:34] sambbaron opened #55 "Create simple UI for 'onValueChanged' and 'onValueCleared' DisplayElement properties"
[Podio RT828](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/828)

UI to select attributes for DisplayElement 'onValueChanged' and 'onValueCleared' properties

Settings JSON:
[code]

[2016-10-07 21:35] sambbaron opened #56 "Update browser page (tab) titles with more detail"
[Podio RT2807](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2807)

Show page hierarchy in browser page title.

Examples:
 - AppTree Portal | App Name | Builder | My Work Orders
 - AppTree Portal | App Name | Security Settings
 - AppTree Portal | My Apps

[2016-10-07 21:37] sambbaron opened #57 "Default Values JSON editor"
[Podio RT2718](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2718)

Create a JSON editor for a display element's default values.

[2016-10-07 21:39] sambbaron opened #58 "Indication that secret key set for Connector Authentication"
[Podio RT2579](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2579)

When I input and save a secret key for connector authentication there is no indication that a key has actually been set.  All I see is a blank field for secret key.

**From Alexis:** I added a boolean field to connectors (including auth and user connectors) labeled "secretKeySet" which indicates whether or not

[2016-10-07 21:41] sambbaron opened #59 "Template data attribute drop down list does not let you scroll with computer mouse"
[Podio RT2041](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2041)

app ID:  facilities.rice.edu

Example Feature:  My Work Orders

I have selected the template Card Layout with 12 attributes.  When selecting a template attribute field the list of available data attributes displays but I am not able to scroll thru the list with my computer mouse.  I must use the scroll bar on

[2016-10-07 21:43] sambbaron opened #60 "Add SASS transformer to pub build"
[Podio RT285](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/285)

Add SASS transformer to pub build so that SASS files are compiled on build/deploy.  Right now, SASS files are only be compiled by local IDEs and saved to git repo, which may cause conflicts upon deployment.

Dart/SASS transformer - https://github.com/EvidentSolutions/dart-sass

After implementing transformer, un

[2016-10-07 22:22] sambbaron commented on #4
@matthewtsmith Taking another look at this, and I don't understand where this is in the configuration.  Can you give me another example with full configuration context?

[2016-10-07 22:24] #37 closed

[2016-10-07 22:54] RobertGuinn opened #61 "5.3.12 ANDROID: Error Determining Location"
Galaxy S4
vendor.wawa.com
supertech

Tap Equipment Move
Tap Move To Arrow

"Determining Location"

and then

"Error, Unable To Determine Location"

Tap Pump Move

Tap Move To Arrow

gets: " No Results Found, There were no recored found within 1000 meters"

Two things:

It's not consistent.  I don't know what the correct behavior should be but it seem like I should get the No Result message in both

[2016-10-07 22:57] sambbaron commented on #4
@matthewtsmith @mellissatort This has been deployed to sandbox `0.8.0-dev.3`.

Now in the List Display Editor you will see the gear button in the top-right of the template attributes, just like you would in a regular feature.  From there, you can edit the Value Format.

Matt, if we are going to make display of list attributes more similar to display of dataset attributes, then I would strongly ask

[2016-10-07 22:57] matthewtsmith commented on #61
@RobertGuinn Those are two different error messages for different reasons.
The first case it could not get your current location
The second case it got your location but there were no records within 1000 meters.

[2016-10-08 13:03] mellissatort opened #62 "Visible criteria based on current date beginning of month on update existing records form not working"
App ID:  lbredev.stanford.edu
Test Login:  kjhchang
iOS 10.0.2
5.4.3 (2151)

*This is critical for Stanford go-live*
Stanford Jira Ticket FSF-28935

Configured Submit button with visible criteria based on data set item Work Date is greater than Current Date Beginning of Month.  The Submit button should only display if the work date is greater than the first day of the current month.  See screensho

[2016-10-10 14:11] matthewtsmith commented on #23
@mellissatort Fixed in 5.4.4

[2016-10-10 14:11] #23 closed

[2016-10-10 14:12] matthewtsmith commented on #16
@alexisandreason I believe there is a problem with user based lists. Can you investigate.

[2016-10-10 14:13] #8 closed

[2016-10-10 14:13] matthewtsmith commented on #8
@eyuapptree @mellissatort Fixed in 5.4.4 iOS and 5.4.5 Android

[2016-10-10 14:14] #3 closed

[2016-10-10 14:20] #13 closed

[2016-10-10 16:22] sambbaron commented on #55
@matthewtsmith I have transferred all my Podio tickets to GitHub, and this issue was pretty old, and I wasn't sure if it was still relevant.  Is this still a valid configuration, and do you know of its usage in a specific app?

[2016-10-10 16:29] sambbaron commented on #55
See https://github.com/apptreesoftware/revolution/issues/54

[2016-10-10 16:29] #55 closed

[2016-10-10 17:23] matthewtsmith opened #63 "Remove menu icon when menu is visible"
<img width="505" alt="screen shot 2016-10-10 at 10 23 14 am" src="https://cloud.githubusercontent.com/assets/9000800/19244960/963ed6d2-8ed3-11e6-8e13-611bdcf01320.png">

[2016-10-10 17:47] matthewtsmith opened #64 "Data Connectors -> Refresh All available services does not show new service until you reload the page"
http://sandbox.apptreesoftware.com/#/app/inspections.corrigo.com/beta/data-connectors/545/lists/list-communities/new
1. I added a new endpoint to the connector
2. I went into the builder and clicked "Refresh All Available Services"
3. The new service "Communities" did not display
4. I clicked "Refresh All Available Services" again - still did not display
5. Reloaded page, "Communities" displayed.

[2016-10-10 20:08] mellissatort commented on #36
@matthewtsmith I am not seeing a 5.4.4 release in Crashlytics for iOS for this fix.  The latest I see is 5.5 (2190) on 10/4/2016.  I do see 5.4.4 in Crashlytics for Android.

[2016-10-10 20:50] sambbaron opened #65 "Revise accessory editing"

[2016-10-10 22:10] alexisandreason commented on #15
This has been fixed in sandbox

[2016-10-10 22:11] matthewtsmith opened #66 "Visibility change causes UI overlap"
servicemaster.corrigo.com
BETA

I added a new `Description field to the form`
When I select an asset the task field becomes visible.
The `Description` field overlaps the `Task` field. The Description field should be below the task field.

<img width="760" alt="screen shot 2016-10-10 at 3 10 14 pm" src="https://cloud.githubusercontent.com/assets/9000800/19252801/b7ee3142-8efb-11e6-9a4c-1b392fec35fd

[2016-10-10 22:19] matthewtsmith opened #67 "Form submission overlay does not go away on failure"
servicemaster.corrigo.com BETA

I created a form submission that failed due to a connector issue. The response returned a 503 but the form submission overlay did not go away.

Expected result:
An error message should display
Overlay should go away
user should be taken back to the form where they can try to submit again

Also, the request should timeout after 30 seconds for all requests. Not sure w

[2016-10-10 22:32] johnpryan commented on #63
fixed by https://github.com/apptreesoftware/apptreerevolution-web/commit/86381b78112fb4246d292808139bf4055f1a934f

[2016-10-10 22:32] #63 closed

[2016-10-10 22:54] sambbaron opened #68 "User Registration Changes"
Instead of using the portal to display a user account creation form, we will use the AppTree form system. The mobile clients and web client will render the app user account creation form. The user registration form will be defined in the builder.
### Registration Form
- Create `Registration` feature type (Form Type => `New`)
- Create page with `Registration` name (this is what Client is looking fo

[2016-10-11 01:10] eyuapptree opened #69 "Minus hours display "-" on both hour and minutes"
lbredev.stanford.edu
5.4.3 - 2173
login as ROBERTD
Go to  time card, find the entries on 9/20
The time entry on WO=1707897 is -0.5 hours
what it display is -0:-30,
can we just display  -0:30 ?

![ed5678](https://cloud.githubusercontent.com/assets/22424216/19255635/962e804c-8f92-11e6-9f31-76e8fd8b462c.PNG)

[2016-10-11 07:40] eyuapptree opened #70 "App crash when select employee on timecard"
lbreint.stanford.edu
5.4.3-2173 (ipad mini IOS 9.2 )
login as KJHCHANG
Go to  "Timecard", Tap on the employee lov under the calendar, select any employee --> app crash

[2016-10-11 12:12] mellissatort commented on #36
@matthewtsmith I downloaded 5.5 (2207) from Crashlytics for iOS as that seemed more current.  Let me know if there is another version I should be testing with.

[2016-10-11 12:18] mellissatort commented on #70
@matthewtsmith I am not having this issue with app store download 5.4.3 (2151) but I am having this issue with 5.5 (2207).  From the timecard Choose Employee list I selected Jacob Herrera and the app crashed as soon as I did that.  This occurred at 5:18AM PT.  iOS version is 10.0.2.

[2016-10-11 12:22] mellissatort commented on #69
@matthewtsmith this looks like a template configuration display issue on the client.  Can we include this fix in 5.5?

[2016-10-11 16:36] johnpryan opened #71 "Pusher notification not sent out when app is promoted to live"
Steps to reproduce:
1. open Pusher debug console https://pusher.com/
2. save changes to a beta version
3. observe pusher message
4. promote app from beta to live
5. observe that no pusher message is emitted

[2016-10-11 16:39] johnpryan commented on #71
@matthewtsmith The message should also distinguish the type of change (beta-to-live vs just a configuration-version update)

[2016-10-11 17:56] sambbaron opened #72 "Configuration Defaults"
Configuration defaults are saved as JSON chunks in the Core and edited/applied in the Portal.
### Core Services
- Use existing Core `/portal/appTreeSettings` service
  - Core has created a `type` column for `PLATFORM` versus `DEFAULT` entries and a service to get by type
  - Revise AppTreeGlobalSettings to get using `PLATFORM` type
  - Create new DefaultConfigurationModel/Manager that uses AppTree

[2016-10-11 19:10] matthewtsmith commented on #69
@mellissatort Fixed in 5.4.4

[2016-10-11 21:20] #67 closed

[2016-10-11 21:20] #66 closed

[2016-10-11 23:43] matthewtsmith opened #74 "isAffectedForUncommittedDataChange not listening for title and required"
Should match iOS code:

[code]

[2016-10-12 00:26] johnpryan opened #75 "Cannot edit criteria for Display Element"
**Description**

Unable to edit the criteria for the 'Zip' display element in the builder.

**Steps to Reproduce**

1. Open inspections app (Corrigo)
2. edit 'Zip' display element
3. Make a change to the criteria (delete or edit)
4. save
5. re-open 'Zip' display element
6. observe changes were not saved/applied

**App ID**
servicemaster.corrigo.com

**Version Number**
Beta Version 7

@sambbaron

[2016-10-12 16:14] sambbaron commented on #75
@johnpryan I am working on this now.  Also, in the future, please copy in the portal URL for portal issues.  That eliminates the need to input much of the issue context: app ID, version, etc.

[2016-10-12 16:53] #75 closed

[2016-10-12 16:56] sambbaron commented on #75
@johnpryan Fix deployed - build version `0.7.1`

[2016-10-12 18:56] mellissatort opened #76 "iOS 5.4.3 Possible Crash - lbreuat.stanford.edu"
App ID:  lbreuat.stanford.edu

Client Details:
iOS version 9.3.5 (13G36)
AppTree App Version 5.4.3 (2151-f681012)
User you were logged in as kjhchang
Time when this occurred 10:25-ish (PT)

Steps to replicate what you were doing just prior:
Added a picture attachment from my device.  Backed out to see the the Submit/Abandon/Cancel dialog and abandoned the submit.

[2016-10-12 18:57] johnpryan opened #77 "Can't change related attributes when editing criteria"
**Description**

the "Select Related Attribute" field isn't available when editing criteria

**Steps to Reproduce**

1. Go to https://services1-portal.herokuapp.com/#/app/servicemaster.corrigo.com/beta/builder/device/page/3576
2. Create "Zip" criteria
3. select a related attribute
4. save criteria
5. edit criteria
6. observe that the 'related attribute' field is no longer visible

**App ID**

serv

[2016-10-12 19:56] #77 closed

[2016-10-12 19:58] sambbaron commented on #77
@johnpryan Fix deployed `0.7.2`

[2016-10-12 22:31] alexisandreason opened #78 "Create on the fly user datasource using user custom attribute table."

[2016-10-12 22:32] alexisandreason opened #79 "Services to add/update/delete user custom attributes from the portal when no user connector is defined."

[2016-10-13 13:34] #61 closed

[2016-10-13 13:35] #10 closed

[2016-10-13 13:36] matthewtsmith commented on #10
Fixed in 5.4.4 iOS and 5.4.5 Android

[2016-10-13 17:14] johnpryan opened #80 "Web Client throws error when refreshing with invalid token"
**Steps to Reproduce**
1. load app (set token expiration to 1 minute)
2. wait for token to expire
3. refresh app

[code]

[2016-10-13 17:15] johnpryan commented on #80
this can also result in lists not being loaded by RuntimeDataController

[2016-10-13 18:17] johnpryan opened #81 "Unable to create validation criteria in builder"
**Description**

**Steps to Reproduce**

1. Open [the corrigo inspections app in the build](http://portal.apptreesoftware.com/#/app/servicemaster.corrigo.com/beta/builder/device/page/3576)
2. edit a display element
3. create validation criteria
4. observe that the validation criteria wasn't created

**App ID**
servicemaster.corrigo.com

**Version Number**
Beta Version 7
Portal Version 0.7.2

[2016-10-13 22:33] johnpryan opened #82 "Toolbar buttons not displaying for criteria"
**Description**

Toolbar buttons are not showing for a criteria rule.  See the servicemaster.corrig.com configuration in the builder for details.

**Steps to Reproduce**

1. Open servicemaster.corrigo.com app (Beta Version 7)
2. type text into 'first name'
3. observe 'submit' button doesn't show up

**App**

Revolution

**Platform**

iOS

[2016-10-13 22:35] johnpryan opened #83 "Rendering issues when deselecting input"
**Description**

The iOS client is showing some strange rendering bug when deselecting form elements.

**Steps to Reproduce**

1. fill out servicemaster.corrigo.com form (Beta Version 7)
2. fill out 'city' or 'state' fields
3. deselect field
4. Observe rendering problem - form is quickly jumping up and header views look out of place for a brief second.

**App**

Revolution

**Platform**

iOS

[2016-10-13 23:52] #80 closed

[2016-10-13 23:54] johnpryan commented on #81
FYI @sambbaron

[2016-10-14 15:11] RobertGuinn opened #84 "WAWA: Forgotten Password Emails"
Several individuals have reported that they have followed the proper steps for forgotten password but have never received the email to change it. I tested several today and experienced the issue.

wawatest under bridgeton app - 848 am

greycotestuser under greyco app - 857 and 912am

sterlingk under wawa app - 911am

rennerj and carneyj4 tried and were both successful

[2016-10-14 17:30] alexisandreason commented on #78
[exampleAuthObject.txt](https://github.com/apptreesoftware/revolution/files/530078/exampleAuthObject.txt)
The user dataset has also been added to the list of available datasets.
I also added a call to update the user dataset when there is a user connector defined
PUT           /portal/authParameters/updateUserDataSet
This is equivalent to the update services call for connectors or the update origi

[2016-10-14 17:31] alexisandreason commented on #79
The user custom attributes will be edited in the appAuthentication calls

[2016-10-14 17:31] alexisandreason opened #85 "Ingest user custom attributes from connector when a user connector is present."

[2016-10-14 17:32] alexisandreason commented on #85
The call to ingest the user dataset from a connector is
PUT           /portal/authParameters/updateUserDataSet

[2016-10-14 17:33] alexisandreason opened #86 "Clear all custom attributes previously defined when a new user connector is registered."

[2016-10-14 17:33] alexisandreason commented on #86
This was completed in PR 18 of the apptreecore

[2016-10-14 17:33] #86 closed

[2016-10-14 18:28] mellissatort opened #87 "User exits app on device with Centralized Auth configured and on return get login failure"
App IDs has Centralized authentication enabled and an external web url configured on the menu (ie. Campus Map).  When the user authenticates on the client and selects this external link they are redirected to a web browser like Safari.  If the user selects the "<Apptree" link at the top of the browser or closes the browser and reselects the AppTree app they then receive API Key Check Failed error

[2016-10-14 18:55] mellissatort commented on #87
@matthewtsmith Authentication error messages also appear when a user logs into the app successfully, clicks the device home button, selects the AppTree app icon and then the login failure displays.  The behavior on the device appears when you leave the app and then try to return back to the app.

[2016-10-14 19:43] mellissatort commented on #87
@matthewtsmith This appears to be a unique issue to Stanford and their SUNet authentication configuration with the AppTree R5 app.  I tested Rice feandp.rice.edu app ID which is configured with their LDAP authentication and am not able to replicate the issue.  I am able to exit and return to the app without login failures or errors.

[2016-10-14 23:37] matthewtsmith opened #88 "New editable "ListToggle" template for repeating elements"
We need a another template for Corrigo that allows us to use ListToggle on a repeating element.

The layout will look like this:

<img width="526" alt="screen shot 2016-10-14 at 4 35 46 pm" src="https://cloud.githubusercontent.com/assets/9000800/19405445/50dcc084-922c-11e6-9bf6-03e8318a9be9.png">

This will be Template ID `3`

[2016-10-14 23:37] matthewtsmith commented on #88
@sambbaron Marking as critical. Need this monday AM for dev on Corrigo.

[2016-10-14 23:51] alexisandreason commented on #84
I changed the email temporarily to support@apptreesoftware.com and was able to successfully get the forgotten password emails. Of the 3 users listed, two are pointed and kevin.a.sterling@wawa.com and one was wrongly pointed at supports@apptreesoftware.com. My suspicion is that the emails are going to spam for Kevin Sterling's email address since it is unlikely that there is any sort of traffic iss

[2016-10-15 14:48] matthewtsmith commented on #87
@RobertGuinn  @mellissatort Something must have changed on Stanford's end with SUNet. Our integration with them is now completely broken and the way that SUNet is redirecting is different. When did this break? Does it work with other apps? This could take 1-2 days to figure this out.

[2016-10-15 15:10] matthewtsmith commented on #87
@RobertGuinn @mellissatort
Here are the changes I've found compared to how we implemented it previously.

1.) Upon login, sometimes it doesn’t require you to do the DUO method if you have recently logged in. In that case it does not redirect you to the full URL. For example, it used to redirect to
`https://ofeam-mobile-uat.stanford.edu/hhsomm/`
but now it redirects to
`https://ofeam-mobile-uat.sta

[2016-10-16 19:33] matthewtsmith opened #89 "Add support for "availableValues""
For SelectList, Toggle and Survey we need a way to provide values based on a predicate. We also need those values to come from either an attribute in the `dataSetItem` or as a static array.

It will have the following keys:

1. `valueType`
 - will indicate whether the value is a static array of strings
 - possible values are `STATIC` or `DYNAMIC`

2. `values`
 - If `valueType` is static it will be

[2016-10-16 19:46] matthewtsmith commented on #89
@sambbaron I've marked this as critical only for you to review and provide feedback. I will need this implemented in the builder fairly soon but does not have to be first thing.

[2016-10-17 16:58] #88 closed

[2016-10-17 17:01] sambbaron commented on #88
@matthewtsmith This is deployed to portal `0.7.5`

[2016-10-17 17:58] sambbaron opened #90 "550 response on PUT portal/authParameters"
Please see the attached cURL.  I am getting a 550 response on `PUT /portal/authParameters` with the user registration changes.  The response is `{message: null}`.

[curl.txt](https://github.com/apptreesoftware/revolution/files/534281/curl.txt)

[2016-10-17 18:43] #81 closed

[2016-10-17 18:45] sambbaron commented on #81
@johnpryan Fix deployed `0.7.6`

[2016-10-17 23:36] sambbaron commented on #89
@matthewtsmith This is deployed to sandbox for testing `0.8.0-dev.11`

[2016-10-17 23:49] alexisandreason commented on #90
This was a discrepancy between the config that the core and portal expected. I updated the app authentication object to send the entire dataset rather than just the service config

[2016-10-18 00:07] sambbaron commented on #90
@alexisandreason Still getting a 550 response

[curl.txt](https://github.com/apptreesoftware/revolution/files/534945/curl.txt)

[2016-10-18 00:23] alexisandreason commented on #90
@sambbaron The 550 was because defaultRoleIDs was null. I added a null check and was able to save the auth config from the given curl.

[2016-10-18 03:14] eyuapptree opened #91 "STANFORD : No Results Found of employee on timecard"
AppID : lbreuat.stanford.edu
Build Version : 5.4.3-2151

Login as KJHCHANG
Go to "Timecard" from menu item
Tap on  "Choose Employee" under the calendar
It display No Results Found error

Mellissa delete the list on S3, still same problem

I try another user XJAH011 it display same error

This is not happen on any other environment

The server site log (at_log) says, list/timeentrymember never neve

[2016-10-18 12:15] mellissatort commented on #87
@matthewtsmith Stanford made two updates to resolve this issue.

1) On the load balancer side, set default persistence profile for virtual server
ofeam-mobile-uat on bigipdev which was not set earlier
2) Re-enable webauth in UAT.  Stanford had updated server for Shibboleth instead of webauth and did not notify AppTree of this change.

Since the issue is resolved with these two updates by Stanford

[2016-10-18 12:15] #87 closed

[2016-10-18 15:33] matthewtsmith commented on #91
@alexisandreason I think this is a bug the new core has with "authenticated" lists. Please investigate.

[2016-10-18 16:20] sambbaron commented on #90
@alexisandreason I'll also fix this on my end

[2016-10-18 16:20] #90 closed

[2016-10-18 16:49] matthewtsmith opened #92 "Registered list won't refresh from connector"
URL : http://portal.apptreesoftware.com/#/app/inspect.corrigo.com/beta/data-connectors/657/lists/list-punchListExceptions/1193

**Steps to Reproduce**
Go to inspect.corrigo.com
Data Sources
Punch List Exceptions
Refresh From connector

The attributes do not get updated. I've tried saving, refresh page etc. If I click on the "Available endpoint" it shows the updated values.

[2016-10-18 16:50] sambbaron opened #93 "Core not saving/setting create and update flags on custom user attributes"
I am assuming that all custom user attributes should have the `create` and `update` flags set to true so they can be used on create and update forms.

I think the Core should set these flags.  Regardless, even if I try to set them through the Portal, they are not being saved.

[curl.txt](https://github.com/apptreesoftware/revolution/files/536870/curl.txt)

[2016-10-18 17:06] matthewtsmith opened #94 "List Display Defaults"
1. Default list template should be "Single Attribute" with attribute0 as the default value.
2. List Display Options for newly added SelectList Display Elements should have `Default` selected instead of `Custom`

I find myself having to make these changes almost every time so we should just make it default.

[2016-10-18 19:51] matthewtsmith commented on #91
I believe the $username is not getting included in the listCacheKey. The client then does not substitute in the username when checking S3.

[2016-10-18 20:28] alexisandreason opened #95 "Handle user registration create submission in core saving in our tables"

[2016-10-18 20:28] alexisandreason opened #96 "Handle user registration create submission sending to connector. Save in core response from connector if core auth."

[2016-10-18 20:28] alexisandreason opened #97 "Call create user on connector when user connector is present."

[2016-10-18 20:30] alexisandreason opened #98 "Handle user registration update submission."

[2016-10-18 20:31] alexisandreason opened #99 "Call update user on connector when user connector is present."

[2016-10-18 20:37] #78 closed

[2016-10-18 20:38] #79 closed

[2016-10-18 20:38] #85 closed

[2016-10-18 20:56] mellissatort opened #100 "New form default value does not account for display options configured"
When a default value is configured on a new form the display options are not taken into account when the default value is displayed on the new form.

Select Timecard from menu
Select + button to add new time
The Employee field is defaulted with the logged in users employee number
Return to the Timecard calendar display list form
Select a date with timecard entries (ie. 10/7/2016)
Select timecard t

[2016-10-18 22:51] matthewtsmith opened #101 "remove maintenance pages"
We need to remove the maintenance pages from the core. It was only meant for development and it's a security risk

[2016-10-18 22:52] matthewtsmith commented on #100
@mellissatort This can happen if the list does not contain the default value. Could that be the case in this instance?

[2016-10-18 23:11] mellissatort commented on #91
Worked with Stanford AS to restart UAT.  Updated LBREUAT connector url.  Tested list display and worked successfully.  Will continue to monitor, but will close this ticket as the issue is resolved currently.

[2016-10-18 23:11] #91 closed

[2016-10-18 23:33] sambbaron opened #102 "Core not saving custom user attributes"
[curl.txt](https://github.com/apptreesoftware/revolution/files/537592/curl.txt)

[2016-10-18 23:47] sambbaron opened #103 "550 response on PUT /portal/apptreeSettings"
I suspect this might be an issue of field size.  I am trying to update a CONFIG default setting with a fairly long JSON chunk.

I am getting this response:
[code]

[curl.txt](https://github.com/apptreesoftware/revolution/files/537607/curl.txt)

[2016-10-18 23:55] alexisandreason commented on #102
This issue has been fixed. Please retest and close ticket.

[2016-10-18 23:57] #102 closed

[2016-10-19 00:06] mellissatort opened #104 "5.4.4 Scan Barcode On Create Form and App Crashes"
Scan barcode on create form and app crashes

Log into the mobile application as user rkromer.
Navigate to Create Service Request
Scan barcode (attached)
App crashes

App ID:  service.taylorfreezer.net

iOS 10.0.2
5.4.4 (2160)
![taylorfreezer_k1036405_qr_code](https://cloud.githubusercontent.com/assets/22403044/19500777/5cb426dc-956e-11e6-80d4-dd2b88f2fdfe.png)

[2016-10-19 00:07] mellissatort commented on #104
New SDK is deployed for this connector when testing.

[2016-10-19 12:08] mellissatort commented on #100
@matthewtsmith The default value is contained in the list.  I have attached the latest list source from lbreuat.stanford.edu.  The value to search for is 05836831.

[lbreuat.stanford.edu_1_1128_kjhchang.zip](https://github.com/apptreesoftware/revolution/files/538868/lbreuat.stanford.edu_1_1128_kjhchang.zip)

[2016-10-19 16:46] alexisandreason commented on #103
You were right that it was a column size error. I upped the size of the column and was able to save using the given curl.

[2016-10-19 16:47] alexisandreason commented on #93
This has been resolved. Please test and close issue.

[2016-10-19 16:53] sambbaron opened #105 "Can't test '/portal/connectors/:connectorID/endpoint' from localhost"
When I call `POST /portal/connectors/:connectorID/endpoint` from localhost, I get a 503 error:

**XMLHttpRequest cannot load https://services1.apptreesoftware.com/portal/connectors/657/endpoint.
No 'Access-Control-Allow-Origin' header is present on the requested resource.
Origin 'http://localhost:63342' is therefore not allowed access.
The response had HTTP status code 503.**

In this case, it was

[2016-10-19 16:55] mellissatort opened #106 "Copy App to multiple app IDs and the data connector url overwrite is not updated on some"
Copy app configuration on one app ID and select multiple app IDs to copy it to.  Edit the connector urls on target app IDs to be correct for the environment.  Upon selecting copy function some of the app IDs selected do not get updated with the correct connector URL.  The user connector settings url does get updated successfully from the copy.

**Steps to Reproduce**
Select app ID somdev.stanford.

[2016-10-19 17:16] mellissatort opened #107 "Allow max length to be set for text attributes in portal configuration"
Currently text attributes have no length max which can be configured in the portal.  Add max length configuration for text attributes so when users are editing an attribute for update (ie. comments) the text entered will not exceed the max length specified.  If no max length is specified in the configuration then no restrictions will exist on the text attribute.

App ID for testing:  feandpdev.ric

[2016-10-19 17:19] sambbaron commented on #107
@matthewtsmith I'm assigning this to you for further discussion.  What do you think about implementing this in validation criteria?  We could have criteria operators for min/max length.

[2016-10-19 17:20] sambbaron commented on #107
@matthewtsmith @mellissatort I created an issue label for `Configuration` that I think better fits these types of issues.  I think once we get the configuration changes decided, then we can create platform-specific issues.

[2016-10-19 18:03] matthewtsmith commented on #107
@mellissatort @sambbaron I don't want to do this as criteria because this is a simple attribute I can set on text fields. Also, criteria is expensive to calculate.

@mellissatort We already have an attribute for this in the client `maxLength`. @sambbaron there are quite a few of these types of settings that the client obeys that we do not have UI for in the portal. When possible, I will start docu

[2016-10-19 18:07] mellissatort commented on #107
@matthewtsmith @sambbaron Since an attribute for maxLength already exists in the client, what would the effort be to build the UI for this in the portal?  Rice University notified me of an issue with the timecard comments field where a user entered a text string longer than what is permitted in FAMIS.  We can modify the database package to prevent this, however if there is a configuration which ca

[2016-10-19 18:09] sambbaron commented on #107
@mellissatort I can do this today.

[2016-10-19 18:17] sambbaron opened #108 "Portal timeout routing to login intercepted by "Save Changes" modal"
If you have a dirty form in a Portal module and the Portal timeout occurs, then the "Save Changes" warning modal is occurring instead of routing to login page.

[2016-10-19 19:46] matthewtsmith opened #109 "FeatureGroup criteria not saving"
http://portal.apptreesoftware.com/#/app/inspect.corrigo.com/beta/builder/device/page/3706

I'm trying to add "visible" criteria to a feature group. After adding the criteria I save and the criteria is no longer there.

I inspected the JSON are sending to the core and it looks like its not included.

[2016-10-19 20:12] #93 closed

[2016-10-19 20:17] #109 closed

[2016-10-19 20:20] sambbaron commented on #109
@matthewtsmith Fix deployed `0.7.7`.

[2016-10-19 20:23] sambbaron commented on #107
@mellissatort You can always add `maxLength` directly to the display element's JSON settings.  I realized that this change is going to have to be wrapped up with some other changes that may not be deployed until later this week.

[2016-10-19 20:44] sambbaron commented on #107
@mellissatort This is deployed to sandbox `0.8.0-dev.14`.

[2016-10-19 20:51] mellissatort commented on #107
@matthewtsmith I've made the config change in sandbox for feandpdev.rice.edu.  However client 5.4.4 (1086) does not let me select sandbox on the app ID form.  How can I test this on the client for sandbox?

[2016-10-19 21:09] matthewtsmith commented on #107
@mellissatort You would need a build that allows the environment selection. The one in Crashlytics might have that enabled.

@sambbaron is there a reason we can't just add this to `portal`. Seems like a low risk change.

[2016-10-19 21:20] matthewtsmith opened #110 "App Users not loading"
http://sandbox.apptreesoftware.com/#/app/inspect.corrigo.com/app-users

Sandbox - inspect.corrigo.com

I tap on App Users and an exception gets logged in the console. Screen stays blank

[2016-10-19 21:21] sambbaron commented on #107
@matthewtsmith @mellissatort Right now, all my view changes are dependent on deploying the integrated help feature.  I was waiting for Alexis to deploy the Core with integrated help, but I might be able to deploy without that.  I need to review.

[2016-10-19 21:27] sambbaron commented on #106
@mellissatort I think I need the secret keys to the connector overwrites to replicate this.  Alternately, if you want to try this again, you can send me the cURL, and I'll see what's being sent to the Core.

**To get a cURL for a http request (in Chrome)**:
1. Make sure that developer tools is open when you initiate the request: *when you click the __COPY__ button*
2. Go to the `Network` tab of de

[2016-10-19 21:34] sambbaron commented on #110
@matthewtsmith @alexisandreason The problem is that `additionalUserInfo` is being returned as a dictionary (empty in this case) instead of an array.  I am expecting `additionalUserInfo` to be an array of custom user attributes that includes a `value` property.

I will make the fix so this doesn't cause an exception.  I am assigning this issue to Alexis.

[2016-10-19 22:16] #110 closed

[2016-10-19 23:26] matthewtsmith opened #111 "Authentication configuration should send client the `User Registration URL`"
We want to avoid having the clients hard code the user registration URL. We should add `userRegistrationURL` and `userProfileURL` to the AuthenticationInfo.

We should have the ability to set this globally and it can be overridden by a particular app if necessary.

**These properties should also be available as placeholder tags for user communication templates**

[2016-10-19 23:27] matthewtsmith commented on #111
@alexisandreason Assign to @sambbaron to create portal UI when you have the core support for this.

[2016-10-19 23:34] #108 closed

[2016-10-20 00:45] sambbaron commented on #103
@alexisandreason This is an issue again.  I'm not sure if you increased the column size enough.

Here's the cURL:
[curl.txt](https://github.com/apptreesoftware/revolution/files/540563/curl.txt)

[2016-10-20 11:59] eyuapptree opened #112 "Dynamic attribute of equipment"
In FAMIS, the equipment attribute is base on asset class id, equipments that has different  asset class id, may has different attribute to display. different number of attributes to display, and different label of it.

that is
Equipment  A may has attribute 1,5,7 configure with label, Label A, Label B and Label C

Equipment  B with different asset class id, may has only attribute 17 and label with

[2016-10-20 15:40] mellissatort opened #113 "Portal accessory view table summary total by attributes summing hours as decimal rather than hours/minutes"
A table summary accessory view has been created displaying total by attributes.  The attribute is "Hours".  Currently this displays hours/minutes as decimal, 3 hours and 45 minutes displayed as 3.75.  Can the display be changed to display as hours and minutes such as 3 hours and 45 minutes?

Navigation:
Select Timecard menu
accessory view is displayed on the first page

App ID:  lbredev.stanford.e

[2016-10-20 15:41] sambbaron commented on #113
@mellissatort This seems like a Client issue to me.  Assigning to @matthewtsmith

[2016-10-20 16:51] alexisandreason commented on #103
I had forgotten to put the column increase in the database migration script. It is fixed now.

[2016-10-20 16:53] matthewtsmith opened #114 "Application info based criteria"
We need the ability to enable/disable features based on the version information.

Initially, I'd like to support.

`version` ie. 5.4.3
`buldnumber` ie. 2422
`appid` ie. test.wawa.com

we need to support this on different platforms so the key paths will be the following:

`runtimeContext.app.<platform>.version`

where platform can be
1. base
2. ios
3. android
4. web

[2016-10-20 16:53] matthewtsmith commented on #114
@sambbaron assign to me when complete and I will do client work.

[2016-10-20 16:59] matthewtsmith commented on #113
@mellissatort we currently don't support this. I've marked it as an enhancement we can schedule for a future release.

[2016-10-20 17:00] #103 closed

[2016-10-20 17:01] matthewtsmith commented on #104
Fixed in 5.4.4r2214

[2016-10-20 17:04] #15 closed

[2016-10-20 17:04] matthewtsmith commented on #112
@eyuapptree @mellissatort I don't fully understand the request. Can you give me a specific feature example where we need this. @mellissatort If you understand the context behind this request we can discuss our options.

[2016-10-20 17:29] RobertGuinn opened #115 "5.3 FAMIS CLOUD: CCS Users Offline Usage"
**Description**

Columbus City School users, after logging in and caching data, frequently go off-line for longer than average periods of time.  They are reporting that when returning to network coverage, they are getting errors when trying to refresh workbenches, they are getting errors when retrieving lists and they have to log out and log in to fix the problem.

Podio: FAMIS 7

**Steps to Repro

[2016-10-20 17:32] matthewtsmith commented on #100
@mellissatort The issue is that we look up the listItem by ID. In this case the "ID" of the list is of the format: GROUNDS~HORTICULTR~04055455

The list you have now should continue to be used when selecting an employee on the calendar. you should make a new list that is unique employees using employeeiD as the ID. Then you can use that list on the New time Entry form.

[2016-10-20 17:41] alexisandreason commented on #95
The route for this is
POST          /client/users
With the body that same as if you were sending a data set item create/update

[2016-10-20 17:42] #96 closed

[2016-10-20 17:43] #97 closed

[2016-10-20 17:43] alexisandreason commented on #98
The call for this is
PUT          /client/users

[2016-10-20 17:44] #99 closed

[2016-10-20 17:48] matthewtsmith commented on #115
@alexisandreason This makes me suspect that the AccruentCloud connector is never sending a authorization error (401) when the cookie expires. If it were the client would be logged out automatically. Please test this by logging in and then making a follow up request with a bad cookie. The connector should be responding to calls with a 401 instead of a json response.

[2016-10-20 17:51] #83 closed

[2016-10-20 17:52] #70 closed

[2016-10-20 17:52] alexisandreason opened #116 "Add ability for public lists"
@sambbaron Lists will now have a flag `isPublicList` that will indicate if that list can be fetched for use in the user registration form. This hasn't been deployed to sandbox yet. I will let you know when it does get deployed.

isPublicList flag only available for lists where `authenticationRequired` is false.

If a user tries to add a non-public list to the user registration form, the builder wo

[2016-10-20 17:53] matthewtsmith commented on #98
@johnpryan close when user registration submission is complete.

[2016-10-20 17:53] #69 closed

[2016-10-20 17:54] matthewtsmith commented on #104
@mellissatort if a bug still occurs please reopen otherwise its hard to find.

[2016-10-20 18:21] sambbaron commented on #94
@matthewtsmith This has been deployed to sandbox `0.8.0-dev.20` and will be in my next services1 deploy.  I was unable to replicate issue 2.

[2016-10-20 18:38] sambbaron opened #117 "Add forceUsernameAsEmail flag in authParameters object"
We need to add `forceUsernameAsEmail` boolean property to the authParameters object.

This flag will eventually be used by the user registration form to determine default values, but we need a way to access this property in the app configuration.

[2016-10-20 18:38] sambbaron commented on #117
@alexisandreason I am assigning to you to start.  Assign back to me when the Core is updated with this property.

@matthewtsmith We need to figure out how the configuration is going to access this property.  I wonder if we should add a runtime context key path for security settings.

[2016-10-20 19:09] #76 closed

[2016-10-20 19:13] matthewtsmith commented on #2
Can't repro

[2016-10-20 19:13] #2 closed

[2016-10-20 19:20] #104 closed

[2016-10-20 21:17] sambbaron commented on #114
@matthewtsmith  This is deployed to sandbox `0.8.0-dev.22`

[2016-10-20 21:42] alexisandreason commented on #115
@matthewtsmith When I make a subsequent request with a bad cookie to the connector, I get a 401 response from the ccs connector.

[2016-10-20 21:48] sambbaron commented on #105
@matthewtsmith FYI

[2016-10-20 22:17] eyuapptree commented on #112
Look at following example
Equipment A and equipment B has different asset class id define, the the attrtributes in famous are different

For Equipment A, attribute 1,2,3 are enable in FAMIS
and the attribute1 has been configure with Label=Hp Rating, Value=350T

Attribute1  Label=Hp Rating, Value=350T
Attribute 2, Label= Voltage, Value=460
..etc

But for Equipment B , the attribute, 1,2,3,4 has bee

[2016-10-20 22:35] sambbaron commented on #54
@matthewtsmith Can you take a look at this issue?  I pulled it from Podio.  It's the last major configuration gaps I have to fill, and I want to make sure it is accurate.

[2016-10-20 22:42] mellissatort commented on #36
@matthewtsmith this issue was tested successfully with 5.4.4 (2214) but now with 5.4.4 (2215) it has reoccurred.

[2016-10-20 23:01] sambbaron opened #118 "Services for portal user management"
I am adding a page in the portal that allows a super user to manage all other portal users.  We need several new services, and all of the following services should be restricted to super users:

We need a call to get all portal users.  I would suggest using the existing `/portalUsers` handler.

I would also like to move the current `/sharedUsers/unlockUsers` call to `/portalUsers/triggerReset`.  T

[2016-10-21 13:15] mellissatort commented on #112
@matthewtsmith This is the scenario I was discussing with you about a week ago where FAMIS allows users to configured different attributes of the 30 based on a type.  In the case of equipment it is based on asset class.  So for each asset class they could have a different set of 30 attributes defined.  When equipment is associated with an asset class it inherits that attribute configuration and th

[2016-10-21 13:40] mellissatort opened #119 "5.4 Intermittent data set and list sync delays"
Stanford has reported intermittent data set and list sync delays.  Logging into the mobile app the My Workbench sync runs for over 5 minutes.  If they navigate away and come back or log out and return the sync returns within 5-10 seconds.  Lists are also having a delay syncing.  In particular we have been notified about list id 1128 in lbre.stanford.edu app ID.  Users are logging into the applicat

[2016-10-21 16:32] sambbaron commented on #17
@mellissatort I am unable to replicate this issue.  However, I think it might be related to me deploying the portal.  I don't have a great solution to this right now.  I could end all portal user sessions via the Core, but this would not logout the portal user until you tried to make a call to the Core.

[2016-10-21 16:32] #17 closed

[2016-10-21 19:06] sambbaron opened #120 "JSON Settings/Editor Enhancement"
Create the ability to view/edit configuration JSON from any place in the Portal.  Create a button component similar to DefaultConfigSettingModel with load/save methods.  May want a separate view model for this that uses properties from the parent view to populate the JsonModalEditor attributes.

Once the JSON viewing/editing is encapsulated, there is no need for getters/setters that forces updates

[2016-10-21 21:38] #36 closed

[2016-10-21 22:02] matthewtsmith commented on #114
@sambbaron We need to update the value types:

BuilderNumber = Int
VersionNumber = Double

[2016-10-21 22:42] sambbaron commented on #114
@matthewtsmith This change is deployed to sandbox `0.8.0-dev.24`

[2016-10-25 12:51] matthewtsmith opened #121 "MenuItems do not have visibleCriteria"
When I tap to edit a menu item and add criteria, `visible` is not one of the options:

http://sandbox.apptreesoftware.com/#/app/inspect.corrigo.com/beta/builder

Also, `enable` and `require` are not used on MenuItems so really the only one we want is `visible`.

[2016-10-25 12:59] #74 closed

[2016-10-25 13:00] matthewtsmith commented on #114
Unable to test in the scenario I need because of https://github.com/apptreesoftware/revolution/issues/121

[2016-10-25 16:18] mellissatort commented on #112
@eyuapptree In the equipment data source include all 30 attributes for the equipment record.  In the portal we can use title for criteria to define what title displays for an attribute depending on the asset class.  For instance using your examples if equipment A is associated with asset class 123 and equipment B is associated with asset class 345 then we can configure title for criteria in the po

[2016-10-25 16:20] sambbaron commented on #121
@matthewtsmith This has been deployed to sandbox `0.8.0-dev.25`

[2016-10-25 16:20] sambbaron commented on #114
@matthewtsmith #121 fix has been deployed to sandbox `0.8.0-dev.25`

[2016-10-25 16:27] alexisandreason commented on #116
@sambbaron Lists will now have a flag isPublicList that will indicate if that list can be fetched for use in the user registration form. This hasn't been deployed to sandbox yet. I will let you know when it does get deployed.

[2016-10-25 19:20] mellissatort opened #122 "5.4.4 iOS: Timecard Approve/Reject Toggle not displaying"
Approve/Reject toggle not displaying on iOS

Navigate to Weekly Labor Approval
Select record from list to view details
The Approve or Reject toggle does not display as boxes to select.  Also displays "Clear".
Navigate into Time Entries and the same occurs for the Approve/Reject toggle display.

feandpdev.rice.edu
Login as Supervisor terrykg

iOS 5.4.4 (2217)
The toggle display issue does not occur

[2016-10-25 19:46] mellissatort opened #123 "5.4.4 Map Layout 4 Attributes Color Stripe List Display Layout Is Different"
Navigate to Part Lookup
Select Part Number list of values
In 5.4.3 version the data was displayed:  top left = Part#, top right = Status, bottom left = Description, bottom right = Warehouse.  Which is actually different than what the list display configuration has.
In 5.4.4 version the data is displayed according to the list display configuration:  top left = Part#, top right = Description, bottom

[2016-10-25 19:58] mellissatort opened #124 "5.4.5 Android: Crash on WO Update form"
Crash occurred at 12:55pm PT for app ID feandpdev.rice.edu Android version 5.4.5 (1102) as user terrykg.

Prior to the crash I submitted a WO update including adding an image attachment.
I then viewed the attachment after submit successfully.
I then selected the WO Equipment attribute and the crash occurred.

[2016-10-25 20:00] mellissatort commented on #124
@matthewtsmith I attempted to recreate the crash again but was unable to.

[2016-10-25 21:09] matthewtsmith commented on #123
@mellissatort This is actually a bug in 5.4.3 that is fixed in 5.4.4. We have no way to back-support this to 5.4.3. I would recommend making a config update to the template after we release the app and let our customers know they should update.

[2016-10-25 21:14] mellissatort opened #125 "5.4.5 Android: Barcode list on form returns message "No list available. A list has not been associated with this form element""
Form attributes configured with barcode list scanner display message:

No list available
A list has not been associated with this form element

Navigate to Create Service Request
Select Equipment barcode button or field to display list.
The message will display
Also occurs if you navigate to Search Service Requests and Asset Search.

service.taylorfreezer.net

Android 5.4.5 (1102)
Issue does not o

[2016-10-25 21:28] mellissatort opened #126 "5.4.4 iOS: Crash on Stanford WO update"
Crash occurred at 2:22pm PT for app ID lbreint.stanford.edu iOS version 5.4.4 (2217) as user khchang.

Prior to the crash I navigated to My Workbench and selected WO SU1457690.  I changed the priority value and added a SHORT_TEXT note then pressed the Submit button.  The crash occurred while submitting the changes.  When I returned to the app the changes were saved successfully.  I was able to rep

[2016-10-25 21:53] mellissatort opened #127 "5.4.4 iOS: Timecard calendar progress bar not displaying"
Navigate to Timecard menu item.
Select date 10/25/2016
Progress bar does not display for day.

feandpdev.rice.edu
lbreint.stanford.edu

iOS 5.4.4 (2217)
Android 5.4.5. is not having this issue

[2016-10-25 21:57] mellissatort opened #128 "5.4.5 Android: Button and form edit criteria not correct on Stanford Timecard entry/update"
Navigate to Timecard menu
Select date 10/25/2016
User should be able to edit any of the time entries on this date since it is within the current month.
User should be able to add time entry (+) since current date is within the current month

lbreint.stanford.edu
Login as kjhchang

Android 5.4.5 (1102)
iOS 5.4.4 is correct

[2016-10-25 22:48] #122 closed

[2016-10-25 23:17] #127 closed

[2016-10-25 23:29] #126 closed

[2016-10-26 00:35] #125 closed

[2016-10-26 00:35] #128 closed

[2016-10-26 14:30] mellissatort commented on #125
confirmed fixed

[2016-10-26 14:39] mellissatort commented on #128
confirmed fixed

[2016-10-26 14:41] mellissatort commented on #122
confirmed fixed

[2016-10-26 14:42] mellissatort commented on #127
confirmed fixed

[2016-10-26 14:44] mellissatort commented on #126
confirmed fixed

[2016-10-26 16:52] matthewtsmith opened #129 "Add ability to define headers when registering connector"
For both Corrigo and Accruent we want to be able to host a single connector that talks to different environments. In order to support this we need to be able to register a connector and headers that should be included in every request.

You should be able to define headers for the User Connector, Authentication Connector and Data connectors.

In the core the headers should be stored in the connect

[2016-10-26 16:52] matthewtsmith commented on #129
@alexisandreason Assigning to you first for the core work. Assign to @sambbaron when complete.

[2016-10-26 16:57] matthewtsmith opened #130 "List auto fill not working on registration form"
When I go to the registration form for taylor freezer:
http://go.apptreesoftware.com/#/user/register?core=https://services-sandbox.herokuapp.com&app=service.taylorfreezer.net&redirect=http://google.com/&beta=true

After selecting a store, the customer should be auto populated. The configuration for this looks correct in`sandbox.apptreesoftware.com`

<img width="1494" alt="screen shot 2016-10-26 at

[2016-10-26 16:57] matthewtsmith commented on #129
@alexisandreason marking as critical because I need it to deploy corrigo.

[2016-10-26 18:53] matthewtsmith opened #131 "Can not view user profile"
The portal is throwing an exception when trying to view a users profile in sandbox:

http://sandbox.apptreesoftware.com/#/app/feandpdev.rice.edu/app-users/profile/1144

[2016-10-26 18:56] matthewtsmith opened #132 "Should be able to add custom attributes to user table display"
Sandbox - When on a user list for a given app, I should be able to tap the `Display` button to change which attributes are visible in the table and add a custom attribute:

http://sandbox.apptreesoftware.com/#/app/feandpdev.rice.edu/app-users

Currently only the standard attributes show up.

[2016-10-26 19:30] sambbaron commented on #131
@matthewtsmith Fix deployed to sandbox `0.8.0-dev.29`

[2016-10-26 19:30] #131 closed

[2016-10-26 19:30] sambbaron commented on #132
@matthewtsmith Fix deployed to sandbox `0.8.0-dev.29`

[2016-10-26 19:30] #132 closed

[2016-10-26 20:53] mellissatort opened #133 "Portal: Add LK Zone 2 Menu Item and Save Orphans the new menu item and pages"
portal.apptreesoftware.com
App ID:  dev.usc.edu  (BETA)

Add new menu item:  Display and Update Multiple Records
Menu Item Name:  LK Zone 2 Work Orders
Select existing feature "My Work Orders (ID: 1390)"
Select data set "LK Zone 2 (ID: 1068)"
Select existing feature "Work Order Details (ID: 1391)"
Press Finish button
The new menu item is at the bottom of the menu list
Press Save button
The new men

[2016-10-26 21:11] matthewtsmith opened #134 "Expensive queries"
Heroku is reporting we have 2 queries causing load:

`SELECT COUNT(*) FROM apptree.atf_connector_request WHERE completed = ? AND type_id = $1 AND cache_suffix = $2 AND start_date >= NOW() - INTERVAL ?`

`SELECT * FROM apptree.atf_data_layer_config WHERE APP_ID = $1 AND VERSION = $2`

We need to check our indexes and query logic to optimize this.

[2016-10-26 21:15] sambbaron commented on #133
@mellissatort This fix has been deployed to portal build `0.7.9`.  I also created the new feature.  There was a bug that was exposed due to the Core running slow.

[2016-10-26 22:23] RobertGuinn commented on #134
@alexisandreason  Can you tell me what each of these are used for?

RE: SELECT COUNT(*) FROM apptree.atf_connector_request WHERE completed = ? AND type_id = $1 AND cache_suffix = $2 AND start_date >= NOW() - INTERVAL ?

The count(*) operation is going to be expensive, regardless of the situation.  We have to be very careful about using any count(*) or other summary operations.

First, I want to un

[2016-10-26 22:39] matthewtsmith opened #135 "Web Client not loading registration page."
I'm trying to integrate the registration page into the mobile clients. When I go to:

http://go.apptreesoftware.com/#/user/registration?core=https%3A//services-sandbox.herokuapp.com/&beta=true&app=service.taylorfreezer.net&redirect=apptree%3A//registrationComplete

It does not load the servicemaster registration page.

Its doing two different things depending where I do it from.

1.) from my mobil

[2016-10-27 01:38] eyuapptree commented on #112
Mellissa

There are 559 asset class in USC, I do not think  you want to do if-else 559 times on builder

May be, we can do it in the same way on R4,  we need  create a new type , to support   label-value array

such as  ["label1","values1","label2","value2"...etc]
or
[
  {
    "Label": "label1",
    "Value": "value1"
  },
  {
    "Label": "label2",
    "Value": "value2"
  }
]

[2016-10-27 12:24] mellissatort commented on #133
@sambbaron When I try to launch the app ID dev.usc.edu it is acting like it's refreshing for a really long time and not returning me to the device view so I can perform more edits.  I have attached a screenshot of what is appearing in the console.
<img width="1406" alt="screen shot 2016-10-27 at 8 23 25 am" src="https://cloud.githubusercontent.com/assets/22403044/19767002/bc5b3ab0-9c1e-11e6-9e3c-6

[2016-10-27 13:38] mellissatort opened #136 "Default value Users Employee not displaying on update form attribute"
Configured default value "Users Employee" on Assigned To attribute in Unassigned Work Orders detail.  When I log into the client as user vrodri2 the users employee is not displayed.  Selecting the field to search in the list shows the ID "VRODRI2" does exist in the list of values.  Confirmed the employee value in the AT_USER_VW view is "VRODRI2".

App ID:  trial.uchc.edu

Android 6.0.1-23    5.4.5

[2016-10-27 20:51] alexisandreason commented on #129
@sambbaron There is now a headers JSON field for connectors. It can be updated from the connector update call for regular connectors or with the update auth call for user/auth connectors.

[2016-10-27 22:34] sambbaron commented on #129
@matthewtsmith @alexisandreason This is deployed to portal staging `0.7.10-stage.1`

[2016-10-27 22:47] sambbaron commented on #133
@mellissatort I was able to load the builder.  I clicked around and didn't have any problems.  I do know the Core has been sluggish lately, and I know Matt is working on that.

![screen shot 2016-10-27 at 3 46 04 pm](https://cloud.githubusercontent.com/assets/10456742/19788329/838bfeb6-9c5c-11e6-8ab9-abddf78dee9f.png)

[2016-10-28 11:49] matthewtsmith opened #137 "Add support for custom auth headers"
To support Corrigo I've had to add the ability to send custom auth headers during login.

This requires an update to AuthenticationConfiguration and the CoreAuthenticationController. Here is the client commit that adds support for this:

https://github.com/apptreesoftware/apptreerevolution-ios/commit/65e4f10a648a630e84fff2c57118c9d08e12f3b9

[2016-10-28 14:36] #133 closed

[2016-10-28 14:39] mellissatort opened #138 "5.4.4 Sandbox: New Time Entry not defaulting with Employee value when Choose Employee not selected"
In 5.4.4 sandbox for both iOS and Android navigate to Timecard menu.
Select + button to add new timecard
Employee field is not defaulted with user's employee value.

If user returns to the timecard calendar screen and selects an employee from Choose Employee select list and then selects the + button to add a new timecard the employee selected is defaulted on the time card.

App ID:  lbreint.stanfo

[2016-10-28 14:43] mellissatort opened #139 "5.4.5 Android: New Time Entry work date not defaulting with value based on criteria"
Navigate to Timecard menu item.
Select + button to add new time entry.
Work date does not default with current date.
Return to the timecard calendar screen and select a different date.
Select + button to add new time entry
Work date does not default with selected date.

lbreint.stanford.edu
services1 or sandbox

Andorid 6.0.1   5.4.5 (1107)
not occurring on iOS

[2016-10-28 14:54] mellissatort opened #140 "Sandbox Portal: Navigate to Security Settings and then select Builder and the portal is stuck refreshing"
Log into Sandbox portal as apptreedev
Select app ID (ie. feandpdev.rice.edu).  Beta and live version exist.
Select Security Settings and scroll to view all details on the page.
Select Builder and the page continues to refresh without a successful end.  Eventually the portal login session times out and returns me to the login screen.

[2016-10-28 15:37] sambbaron commented on #140
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.32.1`

[2016-10-28 15:37] #140 closed

[2016-10-28 16:27] mellissatort commented on #140
confirmed fixed

[2016-10-28 19:19] alexisandreason commented on #111
@sambbaron userRegistrationURL and userProfileURL have been added to the authParameters object. I also added 2 more apptree global settings for those URLs with the PLATFORM type. So they are returned with the login and getUserForToken calls.

[2016-10-28 19:24] matthewtsmith commented on #138
@mellissatort This turned out to be a core issue. A new core is being deployed to sandbox with the fix.

[2016-10-28 19:24] #138 closed

[2016-10-28 19:30] matthewtsmith opened #141 "Allow user to keep same connector secret when updating connector"
Right now when I update a connector URL or headers it makes me re-enter the connector secret. If a secret is set it should allow the user to keep the current one or update it.

I would suggest having a radio button toggle
- Keep Existing Secret
- Update Secret

and only enable the field if -UpdateSecret is picked.

[2016-10-28 19:30] matthewtsmith commented on #141
@sambbaron this is not critical but I'm doing a lot of this lately so its pretty cumbersome to go lookup the secret each time. If this can be prioritized I'd appreciate it.

[2016-10-28 19:44] alexisandreason commented on #105
@sambbaron The connector URLs were not configured correctly for the inspect.corrigo.com app. I have updated the URLs in sandbox and production and the endpoint call is working now.

[2016-10-28 19:49] matthewtsmith commented on #139
Fixed in 1108.

[2016-10-28 19:49] #139 closed

[2016-10-28 19:50] matthewtsmith commented on #139
https://github.com/apptreesoftware/apptreerevolution-android/commit/3234953b00a5d73d50fad3ccf7586e5b32fac98e

[2016-10-28 19:53] alexisandreason commented on #14
@matthewtsmith This has been completed.

[2016-10-28 19:53] #14 closed

[2016-10-28 19:55] #134 closed

[2016-10-28 19:57] mellissatort opened #142 "5.4.5 Android Sandbox: Time entries not displaying for logged in user"
Log into the mobile client as kjhchang
Navigate to Timecard
Time entries exist on 10/24 and 10/25 but do not display on 5.4.5 Android client when using sandbox environment.  If switch to services1 they display.  Also displayed on iOS whether using services1 or sandbox.

App ID:  lbreint.stanford.edu
Sandbox

Android 6.0.1   5.4.5 (1108)

[2016-10-28 20:08] sambbaron commented on #141
@matthewtsmith I understand.  That is a pain.  I think we'll need a Core change for this.

@alexisandreason Right now, I only send the `connectorSecret` property when the user has input a secret key.  What if the Core interpreted that to mean "don't update the secret" rather than "set the secret to null"?

[2016-10-28 20:38] mellissatort opened #143 "Portal/Core: Round activity timer duration up to minutes rather than seconds when sending to the connector"
When the activity timer duration is displayed on the form it is displayed as minutes, however when the value is passed to the connector it includes seconds.  Can the duration be rounded up to minutes as it is displayed when sending the data to the connector?

From My Work Orders workbench start the timer on a work order and let it run for 1.5 minutes.
Stop the timer with the I'm Done option and it

[2016-10-28 21:25] alexisandreason commented on #141
@matthewtsmith @sambbaron The core will only change the secret if a secret is sent. If it is null then it leaves whatever it already has.

[2016-10-28 21:29] sambbaron commented on #141
@matthewtsmith Is that the behavior you are experiencing?  I need to do some UI work on the connector secret.

[2016-10-28 21:38] alexisandreason commented on #71
@matthewtsmith @johnpryan Will we also want to trigger a pusher message when changing the beta version?

[2016-10-28 21:53] matthewtsmith commented on #71
@alexisandreason yes

[2016-10-28 21:54] matthewtsmith commented on #141
@sambbaron I don't know if that is what I'm experiencing because I'm unable to press the save button if I don't enter a secret.

[2016-10-28 21:55] matthewtsmith commented on #143
@mellissatort I don't think the client should be responsible for this because we can't assume the level of precision that the connector wants. Rounding seems like a function you should perform in the connector based on the business logic you want to support.

[2016-10-28 22:33] matthewtsmith commented on #142
Fixed by: https://github.com/apptreesoftware/apptreerevolution-android/commit/f028de7d059b7436cdea7968d89b2dbecaafaf11

[2016-10-28 22:33] #142 closed

[2016-10-30 19:37] johnpryan commented on #135
The url is using /user/registration instead of /user/register.  Try this instead:

http://go.apptreesoftware.com/#/user/register?core=https%3A//services-sandbox.herokuapp.com/&beta=true&app=service.taylorfreezer.net&redirect=apptree%3A//registrationComplete

[2016-10-30 19:37] #135 closed

[2016-10-30 20:07] johnpryan commented on #137
Can you specify the environment and appId that is configured to provide the auth headers?  I am now unable to login to servicemaster.corrigo.com, and the headers are not being provided in the JSON using services1 on sandbox.

[2016-10-30 20:31] johnpryan commented on #130
I'm fairly positive that this is because the Store No has a DataType of TEXT and not LISTITEM

[2016-10-30 20:36] johnpryan commented on #130
[Here's the line of code in question](https://github.com/apptreesoftware/apptreerevolution-web/blob/master/lib/page/views/form_view.dart#L521).  I'm not sure how a form element can have a DataType of TEXT but a fieldTypeString as SELECTLIST

[2016-10-30 20:41] johnpryan commented on #130
@matthewtsmith Can you clarify?  From what I gather the DataType is how it's displayed but we really should be checking the fieldType on that line.

[2016-10-30 20:48] johnpryan commented on #130
This particular form element is set to use attribute 1 of the selected list item.  Is that correct?  From what I can tell that list doesn't have data in attribute 1

[2016-10-31 13:02] mellissatort commented on #139
confirmed fixed.  tested 1109

[2016-10-31 14:59] matthewtsmith commented on #137
@johnpryan I forgot setup the environment in production. I have fixed the settings.

The app ID you should use to test this is `inspect.corrigo.com`
You can find the credentials in 1Password by searching for "Preview Baptist Health"

Use the `coldf` user listed under Other Users.

[2016-10-31 14:59] matthewtsmith commented on #137
@johnpryan You should also be able to login to servicemaster.corrigo.com

[2016-10-31 18:56] RobertGuinn opened #144 "Request Logging"
**Description**

We are logging requests.  We can differentiate between:

lists requests
user info requests
client requests

Enhance this to further differentiate:

Data Set Requests
Data Set Item Requests
Form Submissions

[2016-10-31 18:57] RobertGuinn commented on #144
Please make this change in the next core update that goes to production.

[2016-10-31 21:11] RobertGuinn opened #145 "Losing Pusher Connection when Switching App ID"
**Description**

Was logged into Taylor Freezer.
Swtich app from Taylor Login Screen to 'demo.rice.edu'
Login as jlw8
Workbenches don't load.  Get 'syncing data' message at bottom.

Matt stated this was because of pusher issue.

**Steps to Reproduce**

**App ID**

demo.rice.edu

**Version Number**

5.4.4 (2228) iOS

[2016-10-31 21:36] RobertGuinn opened #146 "UX Issue when trying to paste value into filter field"
**Description**

On a cached list, press and hold the filter field as if you are trying to paste something into it and it will reposition itself into the the status bar area at the top of the form

**Steps to Reproduce**

Copy a value using press and hold
Tap Equipment Search
Tap Equipment field to pull up list
Tap and hold where it says 'search' to bring up the 'paste' option

![img_5618](https:/

[2016-10-31 21:57] RobertGuinn opened #147 "Getting Error When Using FAMIS Branded App"
**Description**

Using FAMIS branded 5.3.12 app from the Apple App Store, I get an error when I try to set an App ID:

"The operation couldn't be completed . (com.alamofire.error error - 6003)

Using the same app id with the equivalent apptree branded build works.

**Steps to Reproduce**

**App ID**

sou.famis.com

**Version Number**

5.3.12

[2016-10-31 22:06] RobertGuinn opened #148 "Change Label CAS to Shibboleth"
**Description**

On security settings page, when specifying the central authentication type, change 'CAS' to 'Shibboleth'

**Steps to Reproduce**

**App ID**

**Version Number**

[2016-11-01 13:00] matthewtsmith commented on #147
@alexisandreason add the accruent branded app to all famis APP IDs.

[2016-11-01 13:01] #129 closed

[2016-11-01 13:01] #124 closed

[2016-11-01 13:02] matthewtsmith commented on #115
@alexisandreason is the core then passing that back to the client as a 401? For some reason the client is not thinking the token is expired.

[2016-11-01 13:04] matthewtsmith commented on #145
I believe this is a duplicate of https://github.com/apptreesoftware/revolution/issues/119

[2016-11-01 14:25] mellissatort opened #149 "Portal: Cannot add criteria to dev.usc.edu attributes or buttons"
Unable to add criteria to attributes or buttons within app ID dev.usc.edu.

Navigate to My Work Order.
Select Map button and add criteria for Visible when role is Supervisor.  When select add criteria button the criteria description window displays but unable to select conditions.
Return to My Work Order window.
Navigate to My Work Order Details.
Select Assigned To attribute and add criteria for R

[2016-11-01 14:50] mellissatort commented on #149
Additionally unable to add default values to attributes.

[2016-11-01 15:41] #149 closed

[2016-11-01 15:44] sambbaron commented on #149
@mellissatort Fix deployed `0.7.11`

Also in the future, can you include the portal url in your github issues for the portal?  It's really helpful for me just to hyperlink to whatever part of the portal the issue relates to.

[2016-11-01 15:48] mellissatort commented on #149
@sambbaron has this fix been deployed to portal.apptreesoftware.com so I can test?

[2016-11-01 15:49] sambbaron commented on #149
@mellissatort Yes, this is deployed in build `0.7.11`.

[2016-11-01 16:45] sambbaron commented on #148
@matthewtsmith Do you want to change the configuration key/value for this?

Right now, we have:
[code]

We could change to:

[code]

[2016-11-01 16:46] matthewtsmith commented on #148
@sambbaron no, the json can't change because it will break existing apps. Just change the label in the builder UI.

[2016-11-01 16:47] sambbaron commented on #148
@matthewtsmith Ok, no problem

[2016-11-01 16:56] sambbaron commented on #148
@RobertGuinn Do you want to change any of the authentication descriptions with this change.  We have the `Centralized` description from the dropdown and then the description once the selection is made.

**Dropdown**

**Selected**

[2016-11-01 17:30] RobertGuinn commented on #148
@sambbaron  no changes to the descriptions.  There will be changes in the future, but we are waiting until we tackle our next central auth environment to figure this out.

[2016-11-01 17:49] alexisandreason commented on #147
I did this for Columbia City School, Fresno County, and Southern Oregon University apps. I think that is all of the FAMIS apps, but let me know if I am missing any.

[2016-11-01 17:52] #147 closed

[2016-11-01 18:27] #105 closed

[2016-11-01 18:29] matthewtsmith commented on #119
@mellissatort would these stanford users be switching App IDs at all?

[2016-11-01 19:33] mellissatort commented on #149
confirmed fixed

[2016-11-01 19:34] mellissatort commented on #119
@matthewtsmith No these users would be staying in one app ID the entire time when this occurs.

[2016-11-01 19:41] #137 closed

[2016-11-01 20:22] mellissatort opened #150 "Portal: Add "Enable" option to button criteria list"
Add "Enable" option to button criteria list.
We have several existing criteria which currently include the "Enable" criteria, however since the new limited list display was installed in portal we no longer have "Enable" in the list to select from for button criteria.

[2016-11-01 20:38] mellissatort commented on #150
@sambbaron maybe this is not an issue but rather a question.

On the Resource Detail page exists a Timecard button.
http://portal.apptreesoftware.com/#/app/somdev.stanford.edu/beta/builder/device/page/2142
This Timecard button already has "Enable" criteria configured.
I cannot add a new criteria for Enable because it's already been used so my only option is to add to the existing criteria.
Is the

[2016-11-01 20:40] sambbaron commented on #150
@mellissatort That's correct.  You can only have one instance of Enable, Require, and Visible criteria.  Criteria types that have an output value can have multiple instances.  This includes Validation (warning text), Title (title text), Calendar (color value), etc.

[2016-11-01 20:47] #150 closed

[2016-11-01 22:20] johnpryan commented on #98
Marking this as closed now that users are being created successfully

[2016-11-01 22:20] #98 closed

[2016-11-01 22:22] johnpryan commented on #95
I think now that registration is working we can mark this as closed

[2016-11-01 22:23] #95 closed

[2016-11-01 22:28] #71 closed

[2016-11-02 21:58] mellissatort opened #151 "5.4.4 iOS: List configured default value not display when select value from list"
Log into the app as user rkromer
Create Service Request select Equipment list of values
Select value from list
The equipment code is displayed on the form attribute when it should display the equipment description.

App ID:  service.taylorfreezer.net

5.4.4 (2228)
Does not occur on Andorid 5.4.5 (1109) release

[2016-11-02 22:32] #145 closed

[2016-11-02 22:32] matthewtsmith commented on #143
@mellissatort I don't plan on fixing this in the client so I'm closing it. If you would like to discuss further you can re-open.

[2016-11-02 22:32] #143 closed

[2016-11-02 22:33] #130 closed

[2016-11-02 22:33] matthewtsmith commented on #130
Turned out to be a connector issue.

[2016-11-02 22:41] matthewtsmith commented on #151
Fixed in 5.4.5

[2016-11-02 22:41] #151 closed

[2016-11-02 22:52] mellissatort commented on #143
@matthewtsmith no we do not need to reopen it.  I found a solution for this in the connector we can do instead.

[2016-11-02 23:08] mellissatort opened #152 "Web: Create New User Store List is slow to display list and filter list"
Create new user account
Select Store attribute
List takes a while to display the list.
Type "Carnival" and list takes a while to filter

service.taylorfreezer.net
sandbox / beta

[2016-11-02 23:11] mellissatort opened #153 "Web: Create New User fails with 502 error"
Create new user account
Display Name = Mellissa Tort
Username = mellissa.tort@apptreesoftware.com
Password enter value
Store No = CARNIVAL/CELEBRATION

Press REGISTER button and get the error:
Invalid response from connector with status 502

service.taylorfreezer.net
sandbox / beta

[2016-11-02 23:16] mellissatort commented on #152
To expand upon the behavior when I click on the Store No list the refresh circle icon spins for a while and then stops like its stuck for many seconds and then finally displays the list.

When I type "carnival" I'm able to type the entire word and wait about 8 seconds for the list to finally filter.

[2016-11-03 14:35] johnpryan commented on #152
I'm having some difficulty reproducing this.  What device are you using?

[2016-11-03 14:39] johnpryan commented on #153
@matthew I'm trying to reproduce but I'm getting a 505 from the core, saying `{"message":"Invalid response from connector with status 404"}`

[2016-11-03 14:49] mellissatort commented on #152
@johnpryan I am testing it with iPhone 6 (iOS 10).

[2016-11-03 14:56] mellissatort commented on #153
@johnpryan @matthewtsmith I updated the connector url (datasets/lists) in the sandbox beta version to use the Taylor Freezer connector url and not ngrok.  Is there another place this needs to be updated as well?  I'm noticing when I try to log in to the app ID that it still seems to be using ngrok url instead of Taylor Freezer connector url.  I am not finding any other spots in the portal to confi

[2016-11-03 15:24] matthewtsmith commented on #153
The user connector needs to be updated.

[2016-11-03 15:25] mellissatort commented on #153
@johnpryan I found the missing config for this connector and updated it to point to Taylor Freezer connector url.  Closing ticket.

[2016-11-03 15:25] #153 closed

[2016-11-03 15:27] mellissatort opened #154 "Web: Create new user UserName attribute has requirements for valid value that should be defined on the form"
Created a new user with username "mellissa.tort" and received an error that the username value was not valid.  Updated the username to "mellissa.tort@apptreesoftware.com" and the user registration completed successfully.  There appear to be criteria for a valid username value.  These should be defined on the form for user reference when they are creating a new user account.

service.taylorfreezer.

[2016-11-03 15:44] matthewtsmith opened #155 "5.5 Deployment"
## 5.5 Changes
This deployment consists of 3 parts:

### 1. New 5.5 Portal
The new portal includes the following improvements:
 * Ability to add registration forms to an app
 * Ability to see the custom user attributes
 * New user attribute format that affects `DefaultValues` and `Criteria`

### 2. New 5.5 Core
The core's major changes are:
 * User info fetching and user data set creation
 * Abili

[2016-11-03 16:30] mellissatort opened #156 "Portal/Core: Default Value "User: Name" no longer is valid and has to be changed to "User: Display Name""
Create Service Request Page Configuration:  http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/3586

The "Requestor" attribute was previously configured with default value "User: Name" but this is no longer a valid value.  It must be changed to "User: Display Name".  We will have to go into each customer configuration using this and change it from Name to D

[2016-11-03 16:34] sambbaron commented on #156
@matthewtsmith @mellissatort I can deploy a Portal that converts `$runtimeContext.user.Name` to the attribute index equivalent of `$runtimeContext.user.displayName`.

[2016-11-03 16:35] matthewtsmith commented on #156
@sambbaron would we still have to go through and update all of the configs?

[2016-11-03 16:39] sambbaron commented on #156
@matthewtsmith @mellissatort If this is only effecting default values, then I could implement a solution that would update all default values on initial builder load.  You would not have to open each display element separately.

[2016-11-03 16:44] mellissatort commented on #156
@sambbaron When I change the default value from "Name" to "Display Name" and save it doesn't seem to be committing the save.  When I go view the default value again the description in the field indicates Display Name is now being used but when I click on it Display Name is not the selected attribute type.  Also, when I view this form in the client (5.4.5 (2237)) I do not see the default value for

[2016-11-03 16:48] sambbaron commented on #156
@mellissatort I will look at this as I am working on the global fix

[2016-11-03 16:57] matthewtsmith opened #157 "UserInfo refresh"
Right now when the mobile client requests user info from the core, if there is a user connector, the core will call to the user connector to fetch the user information. This user information from the connector rarely changes and we already have that info cached in the core.

I would like to add a new flag to the user info call `refresh=true` that the client will send when it wants to update user i

[2016-11-03 16:58] matthewtsmith commented on #156
@sambbaron What about just leaving it as "Name"? Is there a strong reason to change it?

[2016-11-03 17:03] sambbaron commented on #156
@matthewtsmith It doesn't matter to me.  The issue is that `Name` is not an attribute name in the user dataset.  The portal is just comparing the old user key string to the new dataset attribute name.  I guess we could have fixed this in the connector, but I've already deployed the fix to portal sandbox.

@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.6`

**This also fixes the bug Mell

[2016-11-03 17:18] matthewtsmith commented on #156
@sambbaron so what is the process that @mellissatort has to do to update configurations? I'm not clear on that from this discussion.

[2016-11-03 17:18] johnpryan commented on #152
This is a legitimate issue - The app uses an out of date (slow) mechanism to interoperate with the AWS SDK javascript code

[2016-11-03 17:20] sambbaron commented on #156
@matthewtsmith All @mellissatort has to do is open the app in the builder and click `SAVE`.

[2016-11-03 17:21] matthewtsmith commented on #156
@mellissatort This will cause a configuration update which means we will definitely have to communicate an outage and that all work should be submitted prior to the outage window.

[2016-11-03 17:22] sambbaron commented on #156
@matthewtsmith If you would prefer to fix this in the connector, I am fine with rolling back my change.

[2016-11-03 17:23] mellissatort commented on #156
@sambbaron is it possible to have a fix for this that does not require me to go into the builder and click Save?

[2016-11-03 17:25] sambbaron commented on #156
@mellissatort It couldn't be a Portal fix.

@matthewtsmith ?

[2016-11-03 17:30] matthewtsmith commented on #156
@mellissatort After more thought, I believe this ONLY applies to Taylor Freezer because they are the only one using the new SDK and that is what has changed to`DisplayName`. I don't even remember where the original `Name` came from. @sambbaron was that a hard coded user value we have before?

[2016-11-03 17:31] sambbaron commented on #156
@matthewtsmith I assume so.  I would have gotten it from the Core.

[2016-11-03 17:34] mellissatort commented on #156
@sambbaron @matthewtsmith since it is Taylor Freezer only this is not a big deal for go live deployment

[2016-11-03 17:35] RobertGuinn commented on #155
@mellissatort Please go over the testing plan.  Identify anything on this list you are not able to complete.  Give me date by which you can have this testing done.

[2016-11-03 17:46] mellissatort opened #158 "5.4.5 Client: Default Value "Display Name" not visible on client form"
Create Service Request form has Requestor default value "Display Name" configured.
When I log into the app as user mellissa.tort@apptreesoftware.com the display name value is not displaying on the form for the Requestor field.
Other default value such as customer no and store no are displaying on the form.

App ID:  service.taylorfreezer.net
sandbox / beta

iOS 5.4.5 (2237)
may exist on android as

[2016-11-03 17:49] mellissatort opened #159 "5.4.6 Android: Error Updating Status message displays after login"
Log into the app as mellissa.tort@apptreesoftware.com
Popup message displays "Updating status" with the menu and create service request screen greyed out in background.  A processing circle is spinning for a long time.
Exit the app returning to the home screen
Relaunch the app and the following error displays:

Error updating status
Changing Realm data can only be done from inside a transaction.

[2016-11-03 17:56] mellissatort opened #160 "Web/Portal: User Registration page from link in portal does not look like "Create Account" used on client"
In Portal when I select the "User Registration" page link on the builder the configured registration form does not look like the form that displays when a user selects the Create Account link on the Taylor Freezer login page.

http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/registration

How do I edit the user registration page for the Create Account lin

[2016-11-03 18:15] mellissatort opened #161 "Create User: Created new user Debbie Smith and Display Name not populated correctly"
Created new user with display name "Debbie Smith" and username "tortmel@yahoo.com".
Returned to the login screen and username was prepopulated.
Entered password and pressed login.
Because the app was in beta mode the login failed because the user is not setup as a beta tester.
Logged into sandbox portal and edited the user Debbie Smith.
The username, email and display name all show the value "tort

[2016-11-03 18:18] sambbaron commented on #161
@mellissatort So the values you entered into the user registration form from the web client were not what was set in the new user?  Then you used the Portal to fix it.  Could be a problem with the web client.  I am assigning to @johnpryan.

[2016-11-03 18:21] mellissatort commented on #155
@RobertGuinn All the items on the test plan I can complete with possibly the exception of creating/updating the user registration form in Taylor Freezer app.  I have created issue #160 for this as the registration page currently visible for Taylor app is not the same as I see when I click on the User Registration page feature in portal.

Currently there are 7 tickets I have filed with testing issu

[2016-11-03 18:25] mellissatort commented on #161
@sambbaron @johnpryan Yes the Display Name entered on the registration form did not populate into the Display Name field on the portal.  Username populated there instead.  I had to manually fix it in the portal.

[2016-11-03 18:29] mellissatort opened #162 "Portal: User details should not require first name and last name"
When a new user is created from the user registration process the user does not exist in portal with a first name and last name value.  These fields should not be required in the Portal when editing user details.

http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/app-users

App ID:  service.taylorfreezer.net
sandbox / beta

[2016-11-03 18:35] matthewtsmith commented on #161
@johnpryan Assigning to me, I'm guessing this is a core bug.

[2016-11-03 18:37] RobertGuinn commented on #155
@matthewtsmith ^

[2016-11-03 18:48] matthewtsmith commented on #161
@johnpryan Blocked by https://github.com/apptreesoftware/revolution/issues/160

[2016-11-03 18:54] sambbaron commented on #162
@mellissatort This has been deployed to portal sandbox `0.8.0-dev.36.7`

[2016-11-03 19:02] johnpryan commented on #160
Can you confirm that the configuration is saving properly by refreshing the Portal browser window?

I can reproduce, but it's only because the portal isn't saving the configuration.

[2016-11-03 19:05] mellissatort commented on #160
@johnpryan I selected the User Registration page in the portal which took me to http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/registration.  If I do a browser refresh on this page it still is not displaying the right form config

[2016-11-03 19:06] johnpryan commented on #160
As per the slack conversation, this looks like a portal issue; reassigning to @sambbaron

[2016-11-03 19:10] johnpryan commented on #160
steps to reproduce:
1. make a change to http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/registration
2. save
3. refresh the browser
4. observe the changes were not applied

[2016-11-03 19:21] mellissatort commented on #158
@matthewtsmith Issue exists on Android client as well (5.4.6 1112)

[2016-11-03 19:38] sambbaron commented on #160
Fix deployed to portal sandbox `0.8.0-dev.36.8`

[2016-11-03 20:03] mellissatort commented on #160
@sambbaron Confirmed the forms now look the same.  I updated the user registration configuration hiding the Customer No field and saw the config update on the user registration form.

[2016-11-03 20:15] mellissatort opened #163 "Portal: Unable to scroll down attribute configuration"
Unable to scroll down attribute configuration window.

http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/3586
Select Equipment attribute
You will see that List Options are available but can not scroll down the window to view them.

Browser:  Chrome

App ID:  service.taylorfreezer.net
sandbox / beta

[2016-11-03 20:17] mellissatort opened #164 "Portal: User Registration form list items unable to configure list display options"
Select User Registration page configuration.
http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/registration
Select Store No attribute which is configured as a select list.
Unable to configure list display options for attribute.

This may be related to issue #163

App ID:  service.taylorfreezer.net
sandbox / beta

[2016-11-03 20:18] mellissatort commented on #162
Confirmed fixed.

[2016-11-03 20:18] #162 closed

[2016-11-03 20:19] #160 closed

[2016-11-03 20:32] mellissatort commented on #152
@johnpryan I feel this is a critical issue to resolve before production deployment as the user experience with this is not good.  The list is slow to return, filter, clear filter, etc.  I'm going to update this to Critical

[2016-11-03 20:38] mellissatort opened #165 "Portal: User Connector configuration is not obvious on Security Settings"
A user connector configuration exists for the app ID, however it is not obvious from the portal display.
http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/security
User must select the Edit button next to "User Connector" to see that it has been configured.
Some type of information display should be visible on the main security settings screen, possibly the user connector name and

[2016-11-03 20:38] johnpryan commented on #152
This PR will help: https://github.com/apptreesoftware/apptreerevolution-web/pull/68 but it doesn't eliminate the need to execute a SQL query.

Matt and I were also considering using a server list; since that would also avoid running a SQLite query client-side

Here's what I'm seeing:

| platform      | load app | load list | filter list |   |
|---------------|----------|-----------|-------------|-

[2016-11-03 20:44] johnpryan commented on #154
This is because the username field is an "email" type.   You can configure it to be a text field if necessary.

[2016-11-03 21:09] mellissatort commented on #154
@johnpryan what would be the easiest way to let the user know the value they enter should be an email address?  Sometimes with user registration forms when you create an account for the username field they have help text in the text field saying something like "enter email address".  Can we do something like that on this form?

[2016-11-03 21:16] mellissatort opened #166 "Portal: Form attributes unable to add list attribute sorting or default values"
On the user registration page I want to add attribute sorting on the Store list.
http://sandbox.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/registration
Select Store No attribute.
Under Default Values unable to add new default value.

Under List Options select "Display Options" button
Attribute sorting section indicates no sort attributes selected, but am unable to

[2016-11-03 21:35] mellissatort commented on #163
confirmed fixed

[2016-11-03 21:35] #163 closed

[2016-11-03 21:36] mellissatort commented on #164
@sambbaron This is also related to issue #166

[2016-11-03 21:37] johnpryan commented on #154
Here's one solution:

![email](https://cloud.githubusercontent.com/assets/1145719/19986221/0e153fd6-a1d3-11e6-8c6d-f06b3b7975ce.gif)

But I think it's a bit jarring.

Maybe we should consider configuring the title to just say "email"?

[2016-11-03 21:41] sambbaron commented on #166
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.10`

[2016-11-03 21:41] sambbaron commented on #165
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.10`

[2016-11-03 21:42] sambbaron commented on #164
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.10`

[2016-11-03 21:57] matthewtsmith commented on #154
@johnpryan @mellissatort I think we should go with @johnpryan suggestion that the title should say "Email/Username" or "Username ( Provide email address)"

[2016-11-03 23:57] johnpryan commented on #152
FYI @mellissatort Matt is going to add indexes to the SQLite databases.  This improves filtering from 200ms down to 50ms (4x speedup) in Chrome.  On iOS this feels much faster too.

The slowest part is still loading the list (I'm actually seeing this take about 6s on iOS)

[2016-11-04 13:55] mellissatort commented on #154
@johnpryan @matthewtsmith I have updated the user registration form display name for the Username field to be "Username (Provide Email Address)".  Closing ticket.

[2016-11-04 13:55] #154 closed

[2016-11-04 13:58] mellissatort commented on #164
@sambbaron There is now a + button next to Attribute Sorting in the list display options but when I select it I am unable to add attributes.  A warning message displays "Please select all sort attributes before adding new ones"

[2016-11-04 13:59] mellissatort commented on #165
Confirmed user connector url is visible on Security Settings.  closing ticket.

[2016-11-04 13:59] #165 closed

[2016-11-04 14:02] mellissatort commented on #166
@sambbaron The default values issue is confirmed resolved.  The list options attribute sorting issue is still a problem.  See comments added to #164.

[2016-11-04 15:54] sambbaron commented on #164
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.11`

[2016-11-04 17:04] mellissatort opened #167 "5.4.6 Android: Duration scroll box displays in 24 hour rather than 12 hour"
Log into the app as user vrodri2
On My Work Orders select work order W620566
Start Timer
Let the timer run for 15 seconds
Stop Timer "I'm Done, Stop Time Clock"
Select the hours field to display the duration hours/minutes dial to set the hours to a different value.  The hours are displayed in 24 hours not 12 hours.
On iOS it is displayed in 12 hours.

Navigate to Timecard menu
Select date 10/26/20

[2016-11-04 17:12] mellissatort opened #168 "5.4.5 iOS: Adjusting duration dial minutes to 0 resets hours to 0"
Log into the app as vrodri2
Select work order W620566 from My Work Orders workbench
Start Timer
Let the timer run for 15 seconds
Stop Timer "I'm Done, Stop Time Clock"
On the New Time Entry page select the Hours field to adjust the time.  Currently hours display as 0:00
On the duration dial change minutes to 15 (hours is 0)
On the duration dial change hours to 1 (minutes remain 15)
On the duration

[2016-11-04 17:17] matthewtsmith commented on #158
iOS Fix: https://github.com/apptreesoftware/apptreerevolution-ios/commit/74f69f3a579fb8f1fe80c98936a72d85e88906cd

[2016-11-04 17:17] #158 closed

[2016-11-04 17:18] matthewtsmith commented on #158
Fixed by: https://github.com/apptreesoftware/apptreerevolution-android/commit/aece289400756787e5fcc1082c9e2179b0ac11e1

[2016-11-04 17:18] #156 closed

[2016-11-04 17:19] matthewtsmith commented on #152
@johnpryan deployed, please test

[2016-11-04 17:32] mellissatort commented on #161
@matthewtsmith The display name is still not displaying properly in the Portal under App Users when I edit a user.  Attached is a screenshot of the user edit form for a new user I just created.  On the App Users list the name "Brian T Tort" displays but in the user edit form it does not.
<img width="902" alt="screen shot 2016-11-04 at 1 28 58 pm" src="https://cloud.githubusercontent.com/assets/224

[2016-11-04 17:35] johnpryan commented on #152
filtering is working on average 60-80ms on Chrome (down from 200ms)

[2016-11-04 17:36] matthewtsmith commented on #161
@mellissatort this was not supposed to be closed, sorry about that.

[2016-11-04 17:38] mellissatort opened #169 "5.4.6 Android: Crash 11/4/2016 at 10:33AM PT followed by several error messages"
Create new user account (Brian T Tort with username brian.tort@effcomp.com)
Redirected to login page and "brian.tort@effcomp.com" is pre-populated for username
In Portal update user account to be beta user.
On client login page enter user password and press Login button
Message displays "Unfortunately Apptree has stopped working." and page in the background is user registration form in browser.
Ac

[2016-11-04 17:40] johnpryan commented on #152
@mellissatort I feel we've made some good improvements; loading the app and the list are only slightly faster, (still ~6s each) but filtering is a much better experience.

[2016-11-04 17:41] mellissatort commented on #161
@matthewtsmith some more information that may help in troubleshooting this.  As I mentioned on the App Users list the display name is listed "Brian T Tort" and in the edit user form it is "brian.tort@effcomp.com".  I made no changes to the user attributes other than setting the user to beta tester and saved the changes.  The display name now on the App Users list is "brian.tort@effcomp.com".  It's

[2016-11-04 17:45] mellissatort opened #170 "5.4.6 Android: Cannot type in text field"
On Create Service Request form select Additional Information field.  Unable to type in this field.  Keyboard displays but any characters typed do not display in the field.

App ID:  service.taylorfreezer.net
sandbox / beta

Android 5.4.6 (1113)

[2016-11-04 18:31] alexisandreason commented on #101
@matthewtsmith This has been fixed and merged to both sandbox and services1.

[2016-11-04 18:47] matthewtsmith commented on #168
Fixed in 2240

[2016-11-04 18:47] #168 closed

[2016-11-04 19:00] sambbaron commented on #161
@matthewtsmith @mellissatort There is a portal bug that is overwriting the display name in the user editor.  The display name looks correct in the Core.  I am working on it now.

[2016-11-04 19:19] sambbaron commented on #161
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.12`

[2016-11-04 19:42] mellissatort commented on #152
@johnpryan loading the registration form took 7 seconds.  When I clicked on the Store No field it took 32 seconds for the list to display.  Filtering the list is much better and filters almost at the time I'm typing characters.  Is there any way to speed up the Store No list display of 32 seconds?  This was tested on iOS

[2016-11-04 19:48] mellissatort commented on #164
@sambbaron I configured attribute sorting for user registration form Store No attribute so that it sorted by Name.  Saved the configuration and then returned to view it and the attribute sorting did not save.  I tried this a couple times with every time it doesn't appear to save.  The client is not showing the sort either.

[2016-11-04 19:50] johnpryan commented on #152
We could load the form more quickly if we decide to render it before all of the lists are on S3.

How often does loading the list take 32 seconds?  I'm seeing it take ~5-6 seconds on average (on iOS)

[2016-11-04 20:31] sambbaron commented on #164
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.13`

[2016-11-04 20:46] alexisandreason commented on #115
@matthewtsmith This has been fixed in pr 1 on the old core. The core was not passing through the status code on error.

[2016-11-04 20:48] mellissatort commented on #161
confirmed fixed

[2016-11-04 20:48] #161 closed

[2016-11-04 20:57] mellissatort commented on #164
@sambbaron I was able to add attribute sorting but when I viewed the Store No list it is not using the sorting I setup.  I'm not sure if this is still your issue.

[2016-11-04 20:57] #166 closed

[2016-11-04 20:58] matthewtsmith commented on #157
https://github.com/apptreesoftware/apptreecore/commit/1ace306e16808ce027abc74558ea29d536c395e0

[2016-11-04 20:58] #157 closed

[2016-11-04 20:58] sambbaron commented on #164
@mellissatort The configuration looks correct to me.  Let's have @matthewtsmith have a look at this.

[2016-11-04 21:02] #117 closed

[2016-11-04 21:02] matthewtsmith commented on #164
@mellissatort @sambbaron this would be a web client thing. Assigning to @johnpryan

[2016-11-04 21:22] RobertGuinn commented on #115
@mellissatort  will test 5.3 core update in sandbox on Monday 11/7.

[2016-11-04 22:34] #170 closed

[2016-11-04 22:35] #169 closed

[2016-11-04 22:35] #159 closed

[2016-11-04 23:19] johnpryan opened #171 "Web client doesn't always display the app"
**Description**

Matt reported not being able to see the app on every login.  The app shows a blank screen.

**Steps to Reproduce**

Log in.  (Doesn't occur every time)

[2016-11-04 23:21] johnpryan commented on #152
This should be faster now that it's a search list.  The reality is that this is a large list and won't always be fast on the web client, especially on mobile.

I'm open to having a separate discussion or ticket about mobile performance but I'm going to close this issue since the critical aspects have been (somewhat) resolved.

[2016-11-04 23:21] #152 closed

[2016-11-05 00:13] RobertGuinn opened #172 "Error copying inspection.corrigo.net"
**Description**

Error: Client App 'Corrigo Inspections (ID: inspect.corrigo.com)' not copied.
- 'Copy Apps Client App': A database error occurred trying to process this request. Please contact support@apptreesoftware.com

**Steps to Reproduce**

login in as apptreesuper
copy inspect.corriog.net to preview-babtisthealth.corrigo.net

**App ID**

inspect.corriog.net

**Version Number**

5.4

[2016-11-05 00:29] alexisandreason opened #173 "Login call is taking a long time if user has a large amount of apps"
**Description**
The login call is taking an exceptionally long time and making an excessive amount of queries. I'm going to look into what was applied to cut down the configuration fetch time and apply a similar solution to the login call.
**Steps to Reproduce**
Login as apptreesuper to either sandbox
**App ID**
n/a
**Version Number**
n/a

[2016-11-05 00:30] alexisandreason commented on #173
@matthewtsmith Should I mark this as critical?

[2016-11-05 00:32] matthewtsmith commented on #173
@alexisandreason yes, but after our next release. I've updated the milestone and labels to account for that.

[2016-11-05 00:56] alexisandreason commented on #115
@mellissatort @matthewtsmith @RobertGuinn I have copied the revolution database to sandbox and deployed the new core there as well. To access the 53 sandbox portal use http://53sandbox-apptreesoftware.rhcloud.com/portal/index.html

[2016-11-05 01:18] #164 closed

[2016-11-07 14:42] #101 closed

[2016-11-07 17:47] mellissatort commented on #115
@sambbaron On the 5.3.13 (1793) iOS client I am trying to connect to sandbox with either of the following app IDs and am getting the error  "Error.  The operation couldn't be completed. (NSURLErrorDomain error -1202.)"

App ID:  vendor.wawa.com or ccsstage.famis.com

[2016-11-07 17:57] johnpryan commented on #155
I also feel that the web client should have an HTTPS certificate set up

[2016-11-07 18:09] matthewtsmith commented on #155
@johnpryan It does. https://go.apptreesoftware.com/

[2016-11-07 18:37] mellissatort opened #174 "Portal: When session times out and log back in cannot select "To Dashboard""
When portal session times out I am returned to the portal login screen.
I log in as apptreedev and am returned to the page I was timed out from.
I attempt to click on the "To Dashboard" button but it does not do anything.  I am able to select other menu options within the current app ID.

If I refresh the browser then I am able to click on the "To Dashboard" button and the app ID dashboard page di

[2016-11-07 18:40] johnpryan opened #175 "Logging in can result in a blank page"
**Description**

This is likely due to not handling 502's / 503's from the core when the connector is down

**Steps to Reproduce**

1. set up connector to return an invalid response or no response
2. log in to web client

[2016-11-07 18:47] alexisandreason commented on #115
@mellissatort The environment was pointed at the old 53 sandbox URL. I updated it and am able to get to both of those app IDs. The app logos will not show since production was copied without copying the images folder. Just so you know since it gave me pause when I opened them. The logos are correct in production.

[2016-11-07 18:51] matthewtsmith opened #176 "Web client not using message/showAsAlert from data set response"
When a form is submitted the connector will response with
[code]

The web client should use the message from the response to display upon a form submission.
If showMessageAsAlert = true, it should show the message as an alert rather than a toast.

Repro:
servicemaster.corrigo.com
login as `matthew`
Fill out form and submit

[2016-11-07 18:51] matthewtsmith commented on #176
@johnpryan need this for tomorrows demo.

[2016-11-07 18:57] mellissatort commented on #167
@matthewtsmith Correction that the duration in 24 hour increments not 12 hour increments is happening anywhere in Android where duration scroll is used.  It is not occurring in iOS which displays in 12 hour increments.  Tested with Rice app feandpdev.rice.edu and confirmed behavior.

[2016-11-07 19:07] mellissatort opened #177 "5.4.6 Android: List count does not display"
List count displays on iOS lists but does not display on Android lists.

App ID:  lbreint.stanford.edu
sandbox / beta

This can be scheduled for future 5.x client release.

[2016-11-07 19:22] johnpryan commented on #176
https://github.com/apptreesoftware/apptreerevolution-web/pull/81 should fix the issue but I can't test it until the corrigo connector is back up

[2016-11-07 21:27] mellissatort commented on #115
@RobertGuinn 5.3 core update has been tested in sandbox for vendor.wawa.com and ccsstage.famis.com

[2016-11-07 21:58] mellissatort opened #178 "5.4.5 Client: Parts list is not downloading successfully"
Log into the app as rkromer
Select Order Parts menu item
Select + to add part items to order
Select Parts list.  List will download and then fail with "List download failed.  An unknown error occurred".

Testing url:  https://tfs15.taylorfreezer.net:9000/list/part/describe returns java describe.  See attached.

<img width="982" alt="screen shot 2016-11-07 at 4 57 51 pm" src="https://cloud.githubus

[2016-11-07 22:08] mellissatort opened #179 "5.4.5 Client: Store list displays result record lines but no data"
Navigate to create user account registration form.
Select Store No attribute to display list.
When list displays there are only record place holder boxes displayed and no data.

Confirmed in the form configuration the list is configured with custom display options where name is to be displayed in the list.

App ID:  service.taylorfreezer.net
sandbox

iOS 5.4.5 (2240)
Android 5.4.6 (1115)

[2016-11-07 22:40] johnpryan commented on #179
I noticed this too - I think it's because those list items don't have a value.   If you scroll down you can see some list items with values.

[2016-11-07 22:57] matthewtsmith opened #180 "Add "Sync Events" configuration to Activity settings"
Currently the client sends an event to the server whenever an activity is started, paused discarded etc. This is creating a lot of extra requests to be made to the connector. I would like to add settings to the `Activity` configuration.

`syncLocationEvents` : true/false
`syncTimerEvents` : true/false

[2016-11-07 23:01] sambbaron opened #181 "Create Portal User"
[Asana Project](https://app.asana.com/0/207755151888488/list)

Allow anyone to create a portal user account.  Mimic workflow from Asana.

1. User clicks "Sign Up" button and goes to screen where enters enter email
2. User receives an email with link that goes to page where they complete their sign up
3. User enters first, last, display, company, title, contact telephone number, check box "this is

[2016-11-07 23:51] #175 closed

[2016-11-08 11:50] matthewtsmith commented on #180
iOS: https://github.com/apptreesoftware/apptreerevolution-ios/commit/3ca4e7807c1b8a111c3c32787534ca41f7bc7f05

Android: https://github.com/apptreesoftware/apptreerevolution-android/commit/0b20a94e53e4573b37568563cdc1ad2be0f801ed

[2016-11-08 12:02] matthewtsmith commented on #179
@mellissatort I agree with John. It looks like that attribute is empty for quite a few records. If you scroll down there are lots more records with that attribute filled out. What we may want to do in the connector is check if that attribute is empty and if it is just use the `value` of the list.

[2016-11-08 12:13] matthewtsmith commented on #178
@mellissatort I'm unable to repro this. Can you still get it to occur? If so, I may want to see the logs on your device via screen share.

[2016-11-08 13:20] mellissatort commented on #178
@matthewtsmith This morning the parts list is displaying without issue.  I'll keep an eye on this throughout the day to see if the issue from yesterday reoccurs.

[2016-11-08 15:55] matthewtsmith opened #182 "Updating beta app causes live version to refresh"
When I go into the portal and make a configuration change to the beta app, the live version prompts me to update.

1. Connect to servicemaster.corrigo.com (NOT beta)
2. Login as `matthew`
3. Login to portal as `apptreedev`
4. Find servicemaster.corrigo.com
5. Make an update to the BETA app, notice that the live app prompts me to update

I should only be prompted to update if the beta version has c

[2016-11-08 16:59] mellissatort commented on #179
I fixed the store list by removing those without a name and now it looks correct when displayed.  closing ticket

[2016-11-08 16:59] #179 closed

[2016-11-08 18:01] sambbaron commented on #174
@mellissatort Fix deployed to portal sandbox `0.8.0-dev.36.15`

[2016-11-08 18:36] johnpryan commented on #182
AFAIK the clients don't (can't?) distinguish between what type of configuration update it is: https://github.com/apptreesoftware/apptreerevolution-android/blob/master/app/src/main/java/com/apptreesoftware/revolution/controllers/AppController.kt#L104

[2016-11-08 20:11] mellissatort opened #183 "User Registration form Store list not returning results after updating connector list attributes"
Added attribute Post Code to the Store list
Refreshed the store list from connector.
Navigated to the User Registration page
Updated the Store No attribute list display options to include Post Code.
Tested the form in the client and store list never returns results.
Updated the list display options back to only displaying Name and retested client with same results store list never returns results.

[2016-11-08 21:28] mellissatort commented on #174
confirmed fixed.  closing ticket

[2016-11-08 21:28] #174 closed

[2016-11-08 21:30] mellissatort commented on #183
@johnpryan I updated the list configuration to be a public list and now the list displays properly on the user registration form.

[2016-11-08 21:50] johnpryan commented on #183
https://github.com/apptreesoftware/apptreerevolution-web/pull/86 should ensure that a dialog is displayed indicating that an authorization exception happened

[2016-11-08 21:50] #183 closed

[2016-11-08 21:52] #176 closed

[2016-11-08 21:52] johnpryan commented on #176
^ showAsAlert is working in the corrigo app

[2016-11-08 21:58] johnpryan opened #184 "Include "beta" or "live" when publishing a Pusher configuration-update message"
Currently, clients can't distinguish between a configuration-update pusher message.  This forces clients to log out of a live version when a new beta version is created:

blocking https://github.com/apptreesoftware/revolution/issues/182

[2016-11-08 21:58] johnpryan commented on #182
blocked by https://github.com/apptreesoftware/revolution/issues/184

[2016-11-09 09:20] eyuapptree opened #185 "Example of SDK5.5 createUser call"
I attempted to  implement UserDataSource from new SDK, please provide example for how client call and post user information.

Please what is difference between
        user.getUserID(); and user.getUsername();

[2016-11-09 09:22] eyuapptree commented on #185
@mellissatort   If you have example, please providefor me, I see you implement it in TaylorFreezer, you may have example

[2016-11-09 13:10] mellissatort commented on #185
@eyuapptree there is a createUser call in the Taylor Freezer project UserInfoSource

[2016-11-09 13:35] #115 closed

[2016-11-09 14:18] mellissatort opened #186 "5.4.5 iOS: Centralized authentication not valid for build 2242 compared to 2241"
Install iOS 5.4.5 (2241)
Enter App ID:  feandp.rice.edu (Production)
The Rice centralized auth login form displays
Change App ID
Enter App ID:  feandp.rice.edu (Sandbox)
The Rice centralized auth login form displays

Install iOS 5.4.5 (2242)
Enter App ID:  feandp.rice.edu (Production)
Error displays "Authorization failed"
<img width="362" alt="screen shot 2016-11-09 at 9 13 36 am" src="https://clo

[2016-11-09 14:28] mellissatort opened #187 "Add user password link is invalid when user email is leete@uchc.edu"
Within the app ID trial.uchc.edu the communication settings have been updated to send emails for testing to leete@uchc.edu and andrew.leete@gmail.com.  When adding a new user the new user email is sent to this configured email address.  However when the recipient clicks on the set password link in the email they receive the response "password request link is invalid".  If we update the test email

[2016-11-09 16:02] mellissatort opened #188 "5.5 Staging: Unable to add user registration feature"
Select beta version for app id service.taylorfreezer.net in staging
Select Builder
Select + User Registration
Receive attached error.
URL:  http://staging.apptreesoftware.com/#/app/service.taylorfreezer.net/beta/builder/device/page/registration

App ID:  service.taylorfreezer.net
staging

<img width="601" alt="screen shot 2016-11-09 at 11 01 41 am" src="https://cloud.githubusercontent.com/assets/2

[2016-11-09 17:50] mellissatort opened #189 "5.4.5 Android: Submit weekly labor approval timecard approve all and leave form and receive abandon changes popup"
Log into the app as user terrykg
Select Weekly Labor Approval from menu
Select timecard record with status PENDING APPROVAL
On Weekly Labor Approval Detail page select "Approve All" button.
Submit
Message displays "Your time entry has been updated"
Select the back button to return to list.
Pending Changes popup message displays

I have confirmed in the database the records were updated successfull

[2016-11-09 18:35] mellissatort commented on #155
@matthewtsmith 5.4.4 clients are tested successfully against staging for:
Rice (feandpdev.rice.edu and feandp.rice.edu)
Stanford LBRE (lbreint.stanford.edu and lbre.stanford.edu)
Stanford SOM (somint.stanford.edu and som.stanford.edu)

[2016-11-09 19:13] johnpryan commented on #171
Fixed this on Monday

[2016-11-09 19:13] #171 closed

[2016-11-09 19:20] mellissatort opened #190 "5.4.5 Staging: Unable to load store list on user registration form"
Select Create User Account link.
Select Store No field to display list.
First time the field is selected the list attempts to load and fails.
Second time the field is selected it immediately results in "Failed to load list."

This is occurring on iOS and Android

App ID:  service.taylorfreezer.net
branded app as well as unbranded app (sandbox)

In branded app, enter zip code 97209 to be directed t

[2016-11-09 19:29] mellissatort opened #191 "5.4.5 Staging: Taylor Freezer login results in Login Failed"
Select Staging environment.
Enter app ID service.taylorfreezer.net
Log into the app as user rkromer
Error message attached results
<img width="360" alt="screen shot 2016-11-09 at 2 27 34 pm" src="https://cloud.githubusercontent.com/assets/22403044/20151608/b5ab73d2-a688-11e6-90fc-8ebba946dab5.png">

I am able to login successfully as this user when the app is using the Sandbox environment.

App ID

[2016-11-09 21:04] mellissatort commented on #155
@matthewtsmith 5.4.5 clients are tested successfully against staging for:
Rice (feandpdev.rice.edu and feandp.rice.edu)
Stanford LBRE (lbreint.stanford.edu and lbre.stanford.edu)
Stanford SOM (somint.stanford.edu and som.stanford.edu)

Taylor user registration form is created and deployed to service.taylorfreezer.net (staging - live version)

[2016-11-09 21:04] johnpryan commented on #190
I'm having trouble reproducing this.  If I go to http://go.apptreesoftware.com/#/user/register?core=https://services-sandbox.herokuapp.com&app=service.taylorfreezer.net&redirect=http://google.com/&beta=true or the non-beta version http://go.apptreesoftware.com/#/user/register?core=https://services-sandbox.herokuapp.com&app=service.taylorfreezer.net&redirect=http://google.com/&beta=true I am able t

[2016-11-09 21:14] mellissatort commented on #190
Updated the store list to "Search" list fetch type and verified list was checked as public.  Now able to display store list.

[2016-11-09 21:31] mellissatort opened #192 "5.5 Staging Portal: Security Settings Force Username as Email does not remain checked after saving"
In Portal Security Settings check "Force Username as Email" and save but the checkmark is removed after saving.
http://staging.apptreesoftware.com/#/app/service.taylorfreezer.net/security

App ID:  service.taylorfreezer.net
Staging

[2016-11-09 21:32] mellissatort commented on #188
confirmed user registration form is accessible now.  closing ticket.

[2016-11-09 21:32] #188 closed

[2016-11-09 21:50] #190 closed

[2016-11-10 00:13] #192 closed

[2016-11-10 00:13] #191 closed

[2016-11-10 00:44] eyuapptree commented on #185
@mellissatort   I am looking for an example from client/Core of how it post to server

[2016-11-10 02:06] #4 closed

[2016-11-10 02:06] #41 closed

[2016-11-10 02:06] #47 closed

[2016-11-10 02:06] #42 closed

[2016-11-10 02:06] #46 closed

[2016-11-10 02:06] #57 closed

[2016-11-10 02:06] #58 closed

[2016-11-10 02:06] #64 closed

[2016-11-10 02:06] #94 closed

[2016-11-10 02:06] #107 closed

[2016-11-10 02:06] #114 closed

[2016-11-10 02:06] #116 closed

[2016-11-10 02:06] #120 closed

[2016-11-10 02:06] #121 closed

[2016-11-10 02:06] #141 closed

[2016-11-10 02:06] #148 closed

[2016-11-10 02:06] #111 closed

[2016-11-10 02:07] #68 closed

[2016-11-10 02:07] #72 closed

[2016-11-10 05:46] eyuapptree opened #193 "Create new repository for wawa 5.5"
I am going to upgrade wawa to 5.5, please create new respoitory for me.  I think we can copy from PlayFamis and I can modify  instead of start from a empty project

[2016-11-10 05:47] eyuapptree commented on #193
@mellissatort   If you know how to do that, please create it for me, and she me the url

[2016-11-10 13:22] mellissatort commented on #193
@eyuapptree I created a new repository "playWawa" for you to use for the 5.5 upgrade.

[2016-11-10 13:44] #189 closed

[2016-11-10 18:02] #186 closed

[2016-11-10 18:05] matthewtsmith commented on #182
@johnpryan You should not just always assume every pusher message means a new version. What the mobile clients do is receive the push and then call the config/version call. If the `version` or `configurationVersion` is different than what is cached I know we need a config update. Otherwise I ignore it.

[2016-11-10 18:05] matthewtsmith commented on #184
@johnpryan I do not think this is needed based on my comment from #182

[2016-11-10 18:06] #178 closed

[2016-11-10 18:07] #144 closed

[2016-11-10 18:07] #123 closed

[2016-11-10 19:03] #184 closed

[2016-11-10 20:01] alexisandreason opened #194 "Non user custom attributes on user data sets"
**Description**
You should have the ability to add non user related custom attributes to the user dataset.

**Steps to Reproduce**
1. navigate to the user registration page
2. add an element to the form
3. click create custom attribute, fill out label and data type and click save
4. observe error

**App ID**
n/a

**Version Number**
n/a

[2016-11-10 20:24] mellissatort opened #195 "Portal: Unable to select custom user attribute on user registration form"
Created new user attribute "Postal Code" in Security Settings (attribute 30).
Navigated to the user registration form and the new attribute is not available to select to add to the form.
Alexis indicated that custom attributes are being created with the create and update flags automatically set to false from the portal.  Can this be configurable?

http://portal.apptreesoftware.com/#/app/service.ta

[2016-11-10 21:10] sambbaron opened #196 "Default Values Json Editor does not allow editing"

[2016-11-10 21:17] sambbaron commented on #195
@mellissatort Fix deployed `0.8.2`

[2016-11-10 21:18] sambbaron commented on #195
@mellissatort You'll need to save the security settings for the attribute flags to be set

[2016-11-10 21:20] #196 closed

[2016-11-10 22:35] matthewtsmith opened #197 "Add "File" to attachment media_keys"
For the web client we need the "File" media_key added.

[2016-11-10 23:05] #197 closed

[2016-11-10 23:07] sambbaron commented on #197
@matthewtsmith This is deployed to portal build `0.8.3`

[2016-11-11 16:38] mellissatort commented on #195
@sambbaron I added a new attribute "Zip Code" to the Security Settings and saved the configuration.  I then went to the user registration form to see if I could add this new user attribute and it was not listed.

[2016-11-11 16:40] mellissatort commented on #112
@eyuapptree Can you put a proposal together of how this could be done like you suggest based on how we did this in R4?  Include the time necessary to implement it in the connector and then we will evaluate if it is development we want to schedule.  Include as much technical logic as possible so that we can review.

[2016-11-11 16:40] mellissatort commented on #106
@sambbaron this is confirmed working.  closing ticket

[2016-11-11 16:40] #106 closed

[2016-11-11 16:44] sambbaron commented on #195
@mellissatort There is a Portal bug here, but if you refresh the page, you can see the new custom attribute.

[2016-11-11 17:04] mellissatort commented on #100
@eyuapptree Please estimate implementing a new list that takes into account this unique ID issue.  We will then review and propose this to Stanford.  This will need to be implemented for LBRE and SOM as I understand it.

[2016-11-11 17:05] mellissatort commented on #195
@sambbaron I confirmed it is now displayed.  closing ticket.

[2016-11-11 17:05] #195 closed

[2016-11-11 17:12] mellissatort commented on #50
Additional template request is duplicate the existing "Card Layout - 12 attributes + 3 badges + Bottom Divider" to be 13 attributes + 4 badges + Bottom Divider.

Existing "Card Layout - 12 attributes + 3 badges + Bottom Divider":
<img width="455" alt="screen shot 2016-11-11 at 12 08 50 pm" src="https://cloud.githubusercontent.com/assets/22403044/20223442/b8e2de0c-a807-11e6-963d-d7d23369b968.png">

[2016-11-11 17:12] mellissatort commented on #50
@matthewtsmith I am reassigning this to you as Sam said template requests should start with you.

[2016-11-15 15:25] matthewtsmith opened #198 "Set auto-deletion interval on s3 attachments"
I've created a new folder in S3 for attachments that are getting cached. I'd like to set these up to be deleted after 1 week.

[2016-11-15 15:25] matthewtsmith commented on #198
@johnpryan Need your help with how to do this.

[2016-11-15 17:17] johnpryan opened #199 "Redirect HTTP to HTTPS for web clients"
**Description**

Our web apps should redirect any http request to https
http://stackoverflow.com/questions/4083221/how-to-redirect-all-http-requests-to-https

I think the best solution is to configure this using Hover if possible

[2016-11-15 17:26] johnpryan commented on #198
Here's an example of how we currently do it:

![screen shot 2016-11-15 at 9 18 39 am](https://cloud.githubusercontent.com/assets/1145719/20315895/86224dbc-ab14-11e6-94fa-8e18088f86ec.png)

[CallbackController.java](https://github.com/apptreesoftware/apptreecore/blob/master/app/controllers/connectors/CallbackController.java#L67) is where we add the expiration metadata

[2016-11-15 17:28] matthewtsmith commented on #198
@johnpryan that looks like mechanism we use for noting to the client when the list is expired but not when it will be deleted from S3. I thought you set up rules on S3 for a folder for when it's contents should be auto-deleted.

[2016-11-15 18:00] sambbaron opened #200 "Move Portal password rules and session timeout values to global settings"
To facilitate easier viewing/editing and establish a consistent pattern of using the new global settings architecture, we are going to move the portal-level user password rules and session timeout value to the global settings table and have them returned in `appTreeGlobalSettingsObject`.  The format of the values would remain the same.

The password rules would no longer need to be fetched separat

[2016-11-15 18:01] sambbaron commented on #187
@mellissatort If you replicate with developer tools open in the browser, you can see the exact response from the Core.  I am assuming this is a Core bug.

[2016-11-15 18:12] alexisandreason commented on #187
@mellissatort  I will have time to look into the error this afternoon.

[2016-11-15 18:32] johnpryan commented on #198
According to the docs http://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html will [mark the object](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.21) as stale for all requests and S3 will clean up the object for you.

[2016-11-15 20:27] mellissatort commented on #119
@matthewtsmith what was the resolution to this that I may retest?

[2016-11-15 23:50] johnpryan commented on #198
After some more digging, I found the [podio issue](https://podio.com/apptreesoftware/apptree-builder/apps/tasks/items/2398) for list and dataset expiration.  The solution was to add lifecycle rules for all files beginning with `dataset` and `list`

[2016-11-16 13:35] mellissatort opened #201 "User Registration: Store list returning error "Failed to load list""
When creating a new user on the user registration form the error "Failed to load list" is returning when selecting the Store list attribute.

Display Name:  Mel Tort
Username:  mellissa.tort@apptreesoftware.com
Password:
Enter Postal Code:  21845
Select Store attribute and message displays.

service.taylorfreezer.net
services1 (live)

TestFlight release
iOS 5.4.5 (2246)

[2016-11-16 16:09] mellissatort opened #202 "Portal: Cannot select data set on Multiple Records wizard"
Adding new feature "Multiple Records" and am unable to select data set in wizard.

+Add Feature
Select "Display and Update Multiple Records"
Select Next button
Enter Menu Item Name "My Scheduled Work Orders"
Select icon
Select Next button
Create copy of "My Work Orders" existing feature and rename "My Scheduled Work Orders." If select the existing feature without copy the same behavior exists.
Sel

[2016-11-16 16:25] mellissatort opened #203 "Portal: Unable to delete WO Equipment feature group"
http://portal.apptreesoftware.com/#/app/ppddev.uvm.edu/beta/builder/device/page/1979

Select WO Equipment feature group and edit feature group
Select "Remove" button
Responds with successfully deleted feature group
Save changes and feature group still exists on page.
Refresh page and feature group still exists on page.

After editing feature group and saving the WO Equipment moves down to the bott

[2016-11-16 17:39] sambbaron commented on #203
@mellissatort I was able to delete the feature group.  However, there is a bug when you save the configuration, the relationship elements are then viewed out of order.  If you refresh page, it reverts to the correct order.

[2016-11-16 17:41] #202 closed

[2016-11-16 17:42] sambbaron commented on #202
@mellissatort Fix deployed to build `0.8.5`

[2016-11-16 17:56] mellissatort opened #204 "Portal: Add feature using wizard and unable to proceed past Finish button"
Add new feature (any feature) and proceed thru wizard until last screen.
Press Finish button but the wizard window does not close.  Only option is to press Cancel to escape from the wizard window.  New feature is not added.

App ID:  ppddev.uvm.edu

[2016-11-16 18:14] #204 closed

[2016-11-16 18:15] sambbaron commented on #204
@mellissatort Fix deployed to `0.8.6`

[2016-11-16 18:37] johnpryan commented on #201
As mentioned in Slack, I think the issue is the list is not a 'search' list and is not a public list.  I made those changes to the beta configuration and it seems to be working now.

[2016-11-16 18:37] #201 closed

[2016-11-16 18:42] mellissatort commented on #201
Confirmed fixed

[2016-11-17 15:31] mellissatort opened #205 "Taylor Branded Android: Create Service Request - Equipment "No list available""
Create Service Request
Select Equipment attribute list
Error displays "No list available.  A list has not been associated with this form element"

service.taylorfreezer.net
Taylor branded app - Android only

Android 5.4.6 1124

[2016-11-17 15:38] mellissatort opened #206 "Taylor Branded: Service Request List not displaying Serial# and Model# attributes"
Log in as user rkromer
Select Service Request List
Pending service requests are displayed but the serial# and model# are not displayed below the color stripe.  In iOS they do display.

service.taylorfreezer.net
Taylor branded app - Android only

Android 5.4.6 1124

[2016-11-17 16:41] matthewtsmith commented on #205
@mellissatort I can't repro this. My guess is that the list hadn't downloaded yet and we are not provided a better message to describe the issue. Can you check to see if this works for you now? If so, I will file a separate ticket to improve the error messaging.

[2016-11-17 17:28] alexisandreason commented on #187
@sambbaron I think this is a portal bug. It only fails when opened in IE. I forwarded you the email that the user forwarded to me. The link is formatted correctly and works when I open it in Safari.

[2016-11-17 17:30] sambbaron commented on #187
@mellissatort Can you confirm @alexisandreason take on this issue?  It seems that from your issue description that when you changed the email address to your email that the user was able to open the link.  Were they using Internet Explorer in both cases?  If so, can you find out what version of IE they are using?

[2016-11-17 17:34] alexisandreason commented on #187
@sambbaron From @mellissatort 'Andrew Leete with UCHC forwarded you a reset password email he had issues with.  We think we figured out the issue though...  He was opening the link in IE from his email but when he copied the link url and pasted it in Chrome it worked successfully.  so the issue seems to be IE browser related.' I'm not sure which version of IE he was using though.

[2016-11-17 17:37] sambbaron commented on #187
@alexisandreason @mellissatort Okay, John and I were just looking at the Portal in IE11 the other day, and there weren't any issues, but we weren't looking at the mobile user reset password page specifically.  Since we are eventually going to have all mobile users reset passwords through the mobile client, my preference would be not to take this issue further if that's okay with you.

[2016-11-17 17:43] mellissatort commented on #205
@matthewtsmith I'm still having the issue on my device.  I have closed the app and relaunched it and the issue with the list still remains.

[2016-11-17 18:44] sambbaron opened #207 "Revise portal user invitation process"
Here’s my initial take on the new portal user invitation feature:

1. Create a Core service `POST /portal/portalUsers/inviteUsers` that takes an array objects:
[code]
`firstName` and `lastName` would be optional and would allow for a more personalized email greeting to the invited user, but I am fine omitting that entirely.

2. Core assigns a token to this invitation that expires.  The profile pro

[2016-11-17 21:07] alexisandreason commented on #207
@sambbaron That looks like almost exactly what I was thinking as well.

[2016-11-18 00:01] matthewtsmith opened #208 "Can not edit secret for already registered connector"
Can not edit secret for already registered connector

[2016-11-18 00:05] matthewtsmith opened #209 "Can not create new "update and display records" feature"
Sandbox
inspect.corrigo.com
http://sandbox.apptreesoftware.com/#/app/inspect.corrigo.com/beta/builder

Upon trying to save the feature the console throws an exception and nothing happens. I'm trying to create a feature against the WorkOrder data source.

<img width="1853" alt="screen shot 2016-11-17 at 4 04 11 pm" src="https://cloud.githubusercontent.com/assets/9000800/20413058/88413d02-acdf-11e6-

[2016-11-18 00:08] matthewtsmith commented on #209
@sambbaron I did the same thing in production and it worked fine so it must be a recent sandbox change.

[2016-11-18 00:26] sambbaron commented on #209
@matthewtsmith I deployed the fix to sandbox `0.8.7-0.9.0-dev.5`

[2016-11-18 00:26] #209 closed

[2016-11-18 00:31] #208 closed

[2016-11-18 00:31] sambbaron commented on #208
@matthewtsmith Fixed deployed to `0.8.8`

[2016-11-18 17:47] #187 closed

[2016-11-18 18:25] matthewtsmith opened #210 "Unable to add DisplayElement to existing form"
http://sandbox.apptreesoftware.com/#/app/inspect.corrigo.com/beta/builder/device/page/4109

In the feature group tap "Add Display Element"
Choose any attribute ( I chose "Documents" )
Click add.

Exception is thrown in the console

[2016-11-18 18:34] sambbaron commented on #210
Fix deployed to sandbox portal `0.8.9-0.9.0-dev.6`

[2016-11-18 18:34] #210 closed

[2016-11-21 16:56] alexisandreason opened #211 "Unable to finish a 'create new records' feature from a button"
**Description**
I am trying to create a button that links to create form but am unable to finish it.
**Steps to Reproduce**
Add a button to a form detail page.
Set button type to link to page
Add a linked page and select create new feature from the feature drop down menu
Select 'create new records' and go through wizard using a new feature
Click finish and observe that nothing happens
**App ID**
c

[2016-11-21 17:03] alexisandreason opened #212 "Unable to configure Date fields properly"
**Description**
I have two fields whose data type is Date but in the portal the only type of data element I am allowed to choose from the drop down is Date Range
**Steps to Reproduce**
Go to ccsstage.famis.com
Navigate to search work orders menu item in the beta version
The last two items are complete date from and complete date to, the data set attributes those fields are linked to have a type da

[2016-11-21 17:16] alexisandreason opened #213 "Unable to edit icon"
**Description**
I am unable to edit my menu item icon in the menu item edit modal.
**Steps to Reproduce**
Create a new menu item and select icon
Save the menu item and save the configuration to the core
Click on the menu item to bring up the menu item editor modal
Notice the the icon is not showing and that when you try to click the 'select icon' bar, nothing happens.
**App ID**
ccsstage.famis.com

[2016-11-21 17:45] #211 closed

[2016-11-21 17:45] #213 closed

[2016-11-21 17:46] sambbaron commented on #212
@alexisandreason Closing this ticket per Matt's explanation that on a search form, a date attribute can only have a "date range" display type.

[2016-11-21 17:46] #212 closed

[2016-11-21 21:23] mellissatort opened #214 "5.4.5 Android: PDF attachment returns "No application found for this file type""
Log into the application as user terrykg
My Work Orders
Select work order F1382916
Attachment "MC135090 INVOICE" exists.  Select attachment to view and message "No application found for this file type" displays.  Unable to view attachment.

Is there an app I should download on my android device to allow this to work?

feandpdev.rice.edu

Android 5.4.5 (1109)
iOS does not have this issue.

[2016-11-21 21:31] mellissatort opened #215 "5.4.4 iOS: Unable to view attachments"
Log into the application as user terrykg
My Work Orders
Select work order F1284463.  Select attachment "IMAGE" and downloading image action results in request time out.
Select work order F1382916.  Select attachment "MC135090 INVOICE" and image never displays on device; just a blank white screen.
Select work order F1403735.  Select either image and image displays successfully.  These images were a

[2016-11-21 21:46] mellissatort commented on #215
@matthewtsmith I am noticing the same behavior on the new iOS store release 5.4.5 (2246).  I'm also noticing on iOS that the badge images never load successfully and neither does the Info and Logout menu images.  These seem to time out as well.

[2016-11-21 22:31] #172 closed

[2016-11-21 22:38] #206 closed

[2016-11-21 23:01] alexisandreason opened #216 "Unable to delete a feature group"
**Description**
I am unable to delete a feature group from a feature.
**Steps to Reproduce**
Click on a feature groups dropdown
click 'Edit Feature Group'
click 'remove' and 'yes' buttons to confirm
notice the feature group is still there
**App ID**
ccsstage.famis.com
**Version Number**
beta version

[2016-11-21 23:09] sambbaron commented on #216
@alexisandreason What feature group you are trying to delete?
Also for Portal github issues, please copy the url into the issue description.  That will give me the app ID, version, etc.

[2016-11-21 23:21] #216 closed

[2016-11-21 23:21] sambbaron commented on #216
@alexisandreason I deployed the fix to `0.8.12`

[2016-11-22 00:13] sambbaron opened #217 "Require validation when portal user changes their email address"
1. Create a new service to update a portal user's email address that requires user password
  - PUT /portal/portalUsers/updateUserEmail/:id
  - Request:
[code]

2. Core sends an email to portal user with link to validate email.  We already have a service for this: `PUT /portal/portalUsers/validateEmailToken`

3. Add a boolean flag to portal user `requiresValidation` that is returned on login.  Por

[2016-11-22 13:41] mellissatort opened #218 "5.4.6 Android: New time entry comments clears when press Submit"
Log into the app as user jlw8
Select work order from My Work Orders workbench
Start timer
After approximately 1 minute stop timer.  You are redirected to the "New Time Entry" form.
Adjust the hours to 15 minutes
Enter comment "Test"
Press the Submit button.  The comments entered are cleared and error message displays that comments are required.
*NOTE*  I was able to make this occur two times in a

[2016-11-22 13:43] #215 closed

[2016-11-22 14:03] mellissatort opened #219 "5.4.6 Android: Added attachment on work order and now cannot view it"
Log into the application as user kjhchang
Select work order SU916619
Update Priority to 4-Low
Select Operation 10
Add image attachment "test"
Add note "test"
Select Resource "Chang, Kenneth J."
Select Timecard button.  Prompted to submit changes.  Press Submit.  Changes saved successfully.
Enter timecard and return to resource detail
Back up one form to the operation detail and select attachment "

[2016-11-22 14:07] matthewtsmith commented on #214
@mellissatort We'll have to fix this on the connector side by setting the "mimeType" attribute of the AttachmentItems we are sending. Android is unable to automatically resolve the file mime type. It requires that you either send a `filename` or `mimeType`.

[2016-11-22 14:11] mellissatort commented on #214
@eyuapptree Please look at @matthewtsmith comment above.  Let me know how much time is needed to resolve this in the connector.  I tested this with Stanford's connector but the change may need to be made in FAMIS connector too.

[2016-11-22 14:24] matthewtsmith commented on #218
@mellissatort This is because we buffer the input at 1 second so that the criteria system doesn't run while you type. If you type fast enough and press submit this can happen. I've removed that throttle. If you notice any delays while you're typing let me know and I can add small delay back in.

[2016-11-22 14:45] mellissatort commented on #205
@matthewtsmith I'm testing android 5.4.6 (1126) branded Taylor Freezer app and I'm still having this issue, but I am finding that no lists are displaying in the android app.  Testing iOS app store build 5.4.5 (2246) the lists do display.  I looked at S3 Manager (All Buckets / services1-storage / lists) and the app ID services.taylorfreezer.net is not listed.  Where can I find the lists that this b

[2016-11-22 16:41] #205 closed

[2016-11-22 16:42] matthewtsmith commented on #218
I've reduced the delay to 100ms

[2016-11-22 16:42] #218 closed

[2016-11-22 16:43] mellissatort commented on #219
@matthewtsmith This is occurring in the iOS app store release 5.4.5 (2246) and the new crashlytics release 5.4.6 (2250) as well for this app ID.

[2016-11-22 17:10] mellissatort commented on #219
@eyuapptree I am reassigning this ticket to you for further troubleshooting.

The issue is only occurring in the DEV environment.  I tested in the INT environment with lbreint.stanford.edu App ID and did not have this same issue viewing attachments.  This is an example of the url that is being passed for attachment viewing.  Please look at the connector in the DEV environment and determine what is

[2016-11-22 17:48] alexisandreason opened #220 "Unable to edit a mobile user"
**Description**
I'm trying to mark a user as a beta user in the portal user. The app is using connector authentication with a user connector. When I click to edit the user and the user edit modal pops up, the save button remains disabled even after I make changes. The URL is http://portal.apptreesoftware.com/#/app/ccsstage.famis.com/app-users
**Steps to Reproduce**
Go to app users tab
click on the

[2016-11-22 18:01] #220 closed

[2016-11-22 18:10] mellissatort commented on #205
confirmed issue is fixed

[2016-11-22 18:10] mellissatort commented on #218
confirmed issue is fixed

[2016-11-22 18:20] mellissatort opened #221 "5.4.6 Android: Taylor Freezer branded location map not displaying my current location"
Enter zip code 97209
Log into the application as any user.  Create Service Request displays.
The map is a tan color but does not represent my current location with streets, etc.  Tested this at 10:18am after app was added to the allowed apps in the google api console (9:24am).
I closed the app and relaunched it, as well as return to zip code screen to force configuration update.  Same result where

[2016-11-22 18:30] alexisandreason opened #222 "Link pages are not working"
**Description**
In the ccsstage app, I created the feature called 'My Work Orders'. I then created 'My PM Work Orders' and tried to reuse the features from the first one. The new pages that reused the features were not included in the pages array to the core, so the link page is broken. It also doesn't create the page when I try to update it.
**Steps to Reproduce**
Go to the ccsstage.famis.com app

[2016-11-22 18:30] alexisandreason commented on #222
@RobertGuinn FYI

[2016-11-22 18:54] #222 closed

[2016-11-22 18:55] sambbaron commented on #222
@RobertGuinn @alexisandreason  Fix deployed to `0.8.14`

[2016-11-22 21:28] mellissatort opened #223 "Portal: App User custom user information attributes do not match up correctly"
http://portal.apptreesoftware.com/#/app/trial.uchc.edu/app-users
Select user "ENGEL,ERIC A" and edit user information
The custom user info attributes do not match up with what is configured in Security Settings.  For example Crew = MINOR MAIN, Requestor ID = 0, Employee = EE188373, Warehouse = null

This seems to only be an issue with display in Portal.  When the connector uses these attributes to

[2016-11-22 21:43] sambbaron commented on #223
@mellissatort The values that you are seeing in the Portal are what I am getting from the Core.

[code]

I am going to assign to @alexisandreason  to take a look.

Here's the JSON for what I am referencing:

[user_1844.txt](https://github.com/apptreesoftware/revolution/files/607647/user_1844.txt)
[user_dataset.txt](https://github.com/apptreesoftware/revolution/files/607648/user_dataset.txt)

[2016-11-23 03:10] alexisandreason opened #224 "User values are not being used in the client"
**Description**
I have a server filter for my work orders that should fill the value with $runtimeContext.user.3 (which is the username) but it is not working. It also isn't working when I use the same value as a default for a form element.

**Steps to Reproduce**
Go to ccsstage in portal, navigate to data connectors, accruent cloud connector, and My Work Orders dataset
Click to view/edit the serv

[2016-11-23 14:55] matthewtsmith commented on #224
@alexisandreason When I debug this on iOS it seems to be working as expected. Here is the cURL that is getting produced. AssigneeId=22

[code]

[2016-11-23 14:56] matthewtsmith commented on #224
@alexisandreason I'm also seeing the user get filled out on the Add Labor Entry.

What build are you using?

![simulator screen shot nov 23 2016 6 56 34 am](https://cloud.githubusercontent.com/assets/9000800/20566452/fe308432-b149-11e6-90b6-bae5586e3ec9.png)

[2016-11-23 19:03] matthewtsmith commented on #224
@alexisandreason closing now that you are using the newer clients.

[2016-11-23 19:03] #224 closed

[2016-11-23 19:07] matthewtsmith opened #225 "InheritedDataSetItem on subform using incorrect DataSet"
http://portal.apptreesoftware.com/#/app/refuse.uic.edu/beta/builder/device/page/4157

I'm trying to add a default value on a subform. When I choose Inherited Data Set Item the list of available options are from the current sub items data set and not the parents data set.

<img width="897" alt="screen shot 2016-11-23 at 11 05 08 am" src="https://cloud.githubusercontent.com/assets/9000800/20575155/f

[2016-11-24 15:39] matthewtsmith opened #226 "Can not add new feature group to form"
I'm trying to add a new group inside the forms "Root Group" in order to logically group elements on the form.

http://portal.apptreesoftware.com/#/app/refuse.uic.edu/beta/builder/device/page/4157

When I click "Root Group" -> Add new Feature group inside
I get a blank modal and I see that an exception has been logged in the console.

[2016-11-24 16:45] matthewtsmith opened #227 "Form Feature settings should have "insertOnSubmit" check box"
When editing a "New Form" Feature, the settings should have a "Insert Record locally on submission" True/Flase

The Json key is "insertOnSubmit" : true/false

[2016-11-24 16:49] matthewtsmith opened #228 "New SelectList DisplayElement does not keep display settings"
I was adding new SelectList display elements to this page:

http://portal.apptreesoftware.com/#/app/refuse.uic.edu/beta/builder/device/page/4157

When creating the DisplayElement I made sure the "DisplayOptions" were set to "Default".

<img width="904" alt="screen shot 2016-11-24 at 7 44 29 am" src="https://cloud.githubusercontent.com/assets/9000800/20605948/c2f43592-b222-11e6-806a-7d12d22221c7.pn

[2016-11-25 15:41] sambbaron commented on #225
@matthewtsmith This logic has been set in the Portal for quite awhile (April), so I want to make sure I am clear on your expectation.  The Portal is using the linked object, in this case the relationship element, to determine the inherited data set.  But I am assuming that you are expecting the inherited data set to come from the parent page.  I'm surprised this hasn't come up sooner.

![screen sh

[2016-11-28 17:58] alexisandreason commented on #223
@mellissatort It looks like the attributes had been changed in the connector but their values hadn't been refreshed in the portal after the change. Once I refreshed the user connector, I am seeing them correctly in the portal.

[2016-11-28 20:29] mellissatort opened #229 "5.3 Portal configuration update push does not trigger update on client"
Portal configuration updates were made to services.mattvalleypetro.com and a configuration update push was executed when the configuration update was made via script process developed by Alexis as well as manually by Robert.  The users client did not update from these configuration pushes.  To trigger the configuration update we had to have the user manually complete the following steps:

1) Log o

[2016-11-29 13:34] matthewtsmith commented on #225
@sambbaron That is correct. I'm also surprised this hasn't come up sooner. Although, I think Mellissa has mainly been using this when going from an `update` form to a `New` form using a button. This is the case where I'm going to a sub form from a repeating element.

[2016-11-29 13:38] matthewtsmith opened #230 "Custom JSON settings not saving on repeating element template DisplayElement"
http://portal.apptreesoftware.com/#/app/inspect.corrigo.com/beta/builder/device/page/3704

Go to Punch List repeating element, and edit the "Done" attribute within the template.

I'm trying to add a "valueFormat" JSON settings which is not yet supported by the builder. When I add it to the JSON editor, press save, then open the form element back up my entry is no longer there.

![screen shot 2016-

[2016-11-29 15:00] mellissatort opened #231 "Stanford 5.4 client white screen or API Key Check Failed message after inactivity"
Stanford SOM has reported some users receiving either white screen or API Key Check Failed message after device inactivity and reselecting the AppTree app icon to relaunch.  This issue is filed as a P1 (critical) ticket by the customer so I have set the label "CRITICAL" for this.

The following are details provided by SOM for one specific user:

I asked technician Danny Garo to use his supervisor'

[2016-11-30 13:18] mellissatort opened #232 "Stanford transaction submission results in Moya Error"
Stanford user entered new time entry from Timecard menu and received the error "The operation couldn't be completed. (Moya.Error error 5.)" at the bottom of the timecard calendar list for the day.  See screenshot attached.  What does this error mean when a user gets this on the client?

som.stanford.edu
iOS 5.4.4

[Moya error 5.docx](https://github.com/apptreesoftware/revolution/files/621871/Moya.

[2016-11-30 15:37] matthewtsmith commented on #232
This most likely means there is an exception being returned from the connector with an error code we don't understand.

[2016-11-30 18:28] alexisandreason opened #233 "Overwriting app should bump configuration version"
**Description**

When an app is overwritten by another app, the configuration version is still set to 1, so if the app was already set with a configuration version of 1 the client is not prompted to update.

**Steps to Reproduce**

Create an app from an existing app, then login in to it from the client.
Make changes in the original app and overwrite the newly created app.
Notice that the client do

[2016-11-30 18:43] alexisandreason opened #234 "Adding a relationship item causes duplicates"
**Description**

When I add a cart item to the shopping cart page an extra empty one is also added.

**Steps to Reproduce**

1. Log in to reginastage.famis.ca using the alexisappt user in 1password for regina staging
2. Navigate to my work orders, then tap any work order in the list, tap the dropdown button menu and the create shopping cart button
3. Fill out cart name, required date and instructi

[2016-11-30 18:47] #227 closed

[2016-11-30 18:47] #228 closed

[2016-11-30 18:47] #230 closed

[2016-11-30 18:49] sambbaron commented on #225
@matthewtsmith Fix deployed to `0.8.15`

[2016-11-30 18:49] #225 closed

[2016-11-30 18:50] sambbaron commented on #230
@matthewtsmith Fix deployed to `0.8.15`.  I made the value format settings GUI available.

[2016-11-30 18:50] sambbaron commented on #228
@matthewtsmith Fix deployed to `0.8.15`

[2016-11-30 18:50] sambbaron commented on #226
@matthewtsmith Fix deployed to `0.8.15`

[2016-11-30 18:50] #226 closed

[2016-11-30 18:50] sambbaron commented on #227
@matthewtsmith Fix deployed to `0.8.15`

[2016-11-30 20:50] #234 closed

[2016-12-01 17:45] sambbaron opened #235 "400 return on logo update"
I am getting a 400 response on updating the branding logo.  I have tested both in services1 and sandbox.  The curl is from sandbox.

[curl.txt](https://github.com/apptreesoftware/revolution/files/625368/curl.txt)

[2016-12-01 18:10] alexisandreason commented on #235
It looks like you are using the wrong format for sending the image. The core is expecting a file part with the label 'image'. I will attach an example curl.
[exampleLogoSave.txt](https://github.com/apptreesoftware/revolution/files/625430/exampleLogoSave.txt)

[2016-12-01 18:17] sambbaron commented on #235
@alexisandreason I don't understand. Did something in the Core change? I am sending `name="image"`

Content-Disposition: form-data; name="image"; filename="attachment.png"
Content-Type: image/png

[2016-12-01 18:21] alexisandreason commented on #235
@sambbaron No, nothing in the core has changed for branding in months. The content type should be multipart/form-data with a file part whose label is image.

[2016-12-01 18:24] alexisandreason commented on #235
@sambbaron I'm looking back through commits to see if there was a change but I don't think there has been one. This sounds familiar though.

[2016-12-01 18:26] sambbaron commented on #235
@alexisandreason I'm not sure what you mean by `label`.  I can send `name`, but not `label`.

[2016-12-01 18:30] alexisandreason commented on #235
@sambbaron The label (or name) of the file part is image. Sorry, I think of those things somewhat interchangeably.

[2016-12-01 18:31] sambbaron commented on #235
@alexisandreason No problem, so in that case, I don't see anything wrong with the object the Portal is sending.

[2016-12-01 18:55] #235 closed

[2016-12-01 21:35] alexisandreason commented on #35
@sambbaron Work is done in sandbox.

[2016-12-01 22:44] mellissatort opened #236 "Stanford 5.4.7 Client: search results in connection time out"
WO search
Enter work order number SU1193383 and execute search.  Results in connection time out.
When test in previous client versions result returned successfully.

App ID:  lbreint.stanford.edu

IOS 5.4.7 2254

[2016-12-01 23:39] #233 closed

[2016-12-01 23:40] alexisandreason commented on #217
@sambbaron The core work is done for this. Please confirm and close when portal work is done.

[2016-12-01 23:41] alexisandreason commented on #118
@sambbaron I believe all of the work for this has been completed. Please confirm and close.

[2016-12-01 23:42] sambbaron commented on #217
@alexisandreason Portal work is done.  I'll close this ticket when I deploy to production.

[2016-12-01 23:42] sambbaron commented on #118
@alexisandreason Portal work is done.  I'll close this ticket when I deploy to production.

[2016-12-02 00:38] sambbaron commented on #35
@alexisandreason I've confirmed this is working in sandbox.

@mellissatort We have implemented a fix for the Install Instructions page in portal sandbox `0.8.17-0.9.0-dev.8`

[2016-12-02 13:49] mellissatort commented on #236
Confirming this issue also occurs on Android 5.4.7 client.

[2016-12-02 18:23] mellissatort opened #237 "Portal: Unable to setup link page on multiple list display"
Configured new menu items:
My Pending Review Work Orders
Crew Pending Review Work Orders
Supervisor Pending Review Work Orders

My Pending Review Work Orders was created as feature copy of the current My Work Orders and My Work Order Details features.  The new features are "Pending Review Work Orders" and "Pending Review Work Order Details".  Crew Pending Review Work Orders and Supervisor Pending

[2016-12-02 19:07] mellissatort commented on #237
@sambbaron also wanted you to know it doesn't matter what link page I select on My Pending Review Work Orders, it stills saves successfully but after saving the link page configured is no longer set.  I tried setting to Work Order Details and noticed this behavior.

[2016-12-02 19:14] matthewtsmith opened #238 "Core should send Search pusher messages over User Pusher channel instead of domain"
Right now when a pusher message goes out for a search form the pusher is sent out using the domain channel. We should instead be using the user channel so that it only is sent to the user who initiated the search.

[2016-12-02 19:38] mellissatort opened #239 "Portal: Unable to set default values on attribute"
http://portal.apptreesoftware.com/#/app/ppddev.uvm.edu/beta/builder/device/page/4239
Select Requestor attribute
Select + to add default value
Criteria editor does not allow me to select default value values.

ppddev.uvm.edu

[2016-12-02 19:39] mellissatort commented on #239
@sambbaron also unable to configure Criteria on attributes, menu items, or buttons.  Similar behavior to what is seen with default value configuration wizard.

[2016-12-02 20:52] mellissatort commented on #239
@sambbaron I'm also having and issue editing the data connector url.  I can select the field but I cannot type anything in it.

[2016-12-02 22:02] #239 closed

[2016-12-02 22:03] sambbaron commented on #237
@mellissatort Fix deployed to `0.8.18`

[2016-12-02 22:03] sambbaron commented on #239
@mellissatort Fix deployed to `0.8.18`

[2016-12-02 22:54] alexisandreason opened #240 "Apps should be allowed to remove timeout for users"
**Description**

An app should be able to have a timeout of 0 which allows users to never have to login more than once to an app.

**Steps to Reproduce**

**App ID**
n/a
**Version Number**
n/a

[2016-12-05 13:28] mellissatort opened #241 "Missing server filters configuration option from List Data Connectors setup"
Select Data Connectors
Select Lists
"Server Filters" configuration options should be available to configure but it is missing.

Example:  Supervisor WO Status (ID 1097)
"serverFilters": {
        "SUPERVISORWOSTATUS": "true"
    },

ppddev.uvm.edu

http://portal.apptreesoftware.com/#/app/ppddev.uvm.edu/beta/data-connectors/425/lists/list-wostatus/1097

[2016-12-05 13:38] #236 closed

[2016-12-05 13:47] matthewtsmith commented on #182
@johnpryan Is this ticket resolved?

[2016-12-05 13:52] matthewtsmith commented on #231
@mellissatort Since we are redoing their app with Shib soon can this wait for that? I have a feeling this has something to do with the custom WebAuth implementation we did for them.

[2016-12-05 14:00] matthewtsmith opened #242 "No attributes appear when building a DataCollector Search form"
http://portal.apptreesoftware.com/#/app/refuse.uic.edu/beta/builder

1. Add new feature
2. Choose Data Collector
3. Choose `Refuse Route` for the data source ( we should limit these services to only data collector services if the feature is DataCollector)
4. When you get to the `Search Attributes` screen there are no attributes that appear.

When you look in the data sources you'll see that there

[2016-12-05 14:01] matthewtsmith opened #243 "Can't load sandbox"
Going to http://sandbox.apptreesoftware.com/ hangs on the loading screen. There is an exception logged to the console

[2016-12-05 14:02] matthewtsmith opened #244 "Refreshing DataCollector datasource with "refresh name" checked causes duplicate attribute buckets"
http://portal.apptreesoftware.com/#/app/refuse.uic.edu/beta/data-connectors/728/data-collectors/inspection-refuseroutes/1105

I chose "Refresh Name" and then hit `Refresh from connector`. You can see from the screen shot that the `Search` and `Update` attributes were duplicated so there are now 4 tabs you can tap on across the top.

![screen shot 2016-12-05 at 5 53 57 am](https://cloud.githubuserc

[2016-12-05 16:22] johnpryan commented on #182
no it's not

[2016-12-05 16:23] mellissatort commented on #237
@sambbaron I need your help with a link page configuration I am not able to setup properly now.  The customer did a configuration update and the page lost it's linked page configuration.  When I try to set it up and press Save button the link page selected is not staying.

http://portal.apptreesoftware.com/#/app/trial.uchc.edu/beta/builder/device/page/3730

Select "Edit Feature Group" for Unnamed

[2016-12-05 18:16] #243 closed

[2016-12-05 18:34] #242 closed

[2016-12-05 18:36] sambbaron commented on #242
@matthewtsmith Fix deployed to `0.8.19`

[2016-12-05 20:40] sambbaron commented on #241
@mellissatort The problem is that there are no `serviceFilterParameters` in the list config.  The Portal automatically hides the ability to edit Server Filters if there aren't any parameters.  Did something change with the connector?

[2016-12-05 21:04] mellissatort commented on #237
@sambbaron I was able to fix the configurations for link pages in trial.uchc.edu after this update.  I recreated the Unassigned workbenches using the wizard and after saving the new menu configuration I went into the feature and the link page which should have existed from the wizard was not set.  The linked page was created but it just wasn't linked to the parent feature.  I went into the configu

[2016-12-05 21:37] mellissatort commented on #237
@sambbaron Here is another problem I need your help resolving related to the trial.uchc.edu app ID.

The following is only occurring for the My Work Orders menu item.

1) My Work Orders List Page http://portal.apptreesoftware.com/#/app/trial.uchc.edu/beta/builder/device/page/1725

2) Select linked page to go to Work Orders Detail Page  http://portal.apptreesoftware.com/#/app/trial.uchc.edu/beta/bu

[2016-12-05 23:01] matthewtsmith opened #245 "Can't edit default list display options"
http://sandbox.apptreesoftware.com/#/app/refuse.uic.edu/beta/data-connectors/728/lists/list-vehiclelist/1255

Tap on Display Options and modal is blank. Exception in console

[2016-12-05 23:24] #245 closed

[2016-12-05 23:44] matthewtsmith opened #246 "Can not edit NamedFilter accessory view"
http://sandbox.apptreesoftware.com/#/app/refuse.uic.edu/beta/builder/device/page/4321

I've added an accessory view. I'm attempting to give it 3 segments:

To Do, Completed, Exceptions

The criteria is:

To Do
$dataSetItem.dataCollectionStatusString = NONE

Completed:
$dataSetItem.dataCollectionStatusString = COMPLETE

Exceptions:
$dataSetItem.dataCollectionStatusString = EXCEPTION

Because we hav

[2016-12-05 23:44] matthewtsmith commented on #246
@sambbaron not critical but I do need this fixed fairly quickly.

[2016-12-05 23:56] sambbaron commented on #246
@matthewtsmith Are there going to be multiple dataCollection attribute types like this?  Should we have a group prefix like `$dataSetItem.dataCollection.statusString`?

[2016-12-06 01:10] matthewtsmith commented on #246
@sambbaron Lets do `$dataSetItem.status`. We may be able to expand this attribute in the future for purposes outside of the data collector.

[2016-12-06 17:08] #244 closed

[2016-12-06 17:21] johnpryan commented on #198
Assigning back to you.  Let me know if there's anything else you need.

[2016-12-06 17:32] sambbaron commented on #246
@matthewtsmith This has been deployed to both prod and dev portal `0.8.21`

[2016-12-06 20:16] matthewtsmith commented on #246
@sambbaron This is still occurring. It lets me select the name filter criteria and enter a name but after I publish the configuration all the information clears.

[2016-12-06 21:05] #246 closed

[2016-12-07 17:41] matthewtsmith opened #247 "Feedback - New Criteria Editor: Tapping anywhere outside the popup should close it"
Currently you must tap on the original dropdown you tapped on but it would be more obvious if you could tap anywhere outside the area.

[2016-12-07 17:44] matthewtsmith opened #248 "DataCollection - Exception Criteria is not saving"
http://sandbox.apptreesoftware.com/#/app/refuse.uic.edu/beta/builder/device/page/4322

Tap on "Feature"
Add an "Exception Criteria" under the Data Collector Settings

Continue
Publish configuration

When the page reloads the exception criteria is not saved.

[2016-12-07 18:11] #180 closed

[2016-12-07 18:11] #248 closed

[2016-12-07 18:19] sambbaron commented on #248
@matthewtsmith Fix deployed to all environments `0.8.23`

[2016-12-07 23:28] matthewtsmith opened #249 "Feedback: New Criteria - Manual text entry requires you hit "Enter" for value to get accepted"
Criteria Editor
Select a key
In value, I chose manual text entry.
Typed my value, then clicked back on the value field to close the criteria editor.
The value stayed blank.

I had to go back and after entering my value I had to hit the "Enter" key in order for the value to stick. I think it should just accept what you last typed when you close the modal.

This may also be a good case for us to hav

[2016-12-08 13:28] mellissatort opened #250 "Portal: Form attributes dependent on user attributes are not displaying data correctly after Security Settings save"
New Time Entry form:
http://portal.apptreesoftware.com/#/app/trial.uchc.edu/live/builder/device/page/1897

On the new time entry form the Employee field is configured with default values (1) custom value employeeNumber and (2) User Value: Employee.  The user value is attribute 40 in the user attributes.  When I first viewed the default values however the Employee user value only indicated "User Va